<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrew Shcherbakov">
    <title>Услуги</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/fancybox-3.0/dist/jquery.fancybox.min.css" />
    <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_article.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
    <div class="preloader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="mx-auto text-center">
            <h1>Техническое обслуживание</h1>
        </div>
            <div class="card mx-auto mb-5 article_card">
                <div class="container_article">

                    <h3>Системы электроснабжения</h3>
                    <div class="article_paragraph floating_right">
                        <a href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт, в соответствии с разработанным
                            Регламентом по техническому обслуживанию электрооборудования систем электроснабжения.
                            </p>
                            <p>Производство оперативных переключений.</p>
                            <p> Замена ламп в приборах освещения, приборов освещения.</p>
                            <p>Установка и подключение дополнительных электроустановочных изделий и электроприборов.
                                 Ведение эксплуатационной документации в соответствии с требованиями нормативных документов и
                                рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <h3>Системы теплоснабжения и горячего водоснабжения</h3>
                    <div class="article_paragraph floating_left">
                        <a href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и
                                планово-предупредительный ремонт в соответствии с разработанным
                                Регламентом по техническому обслуживанию систем теплоснабжения и горячего водоснабжения.
                            </p>
                            <p>Ведение эксплуатационной документации в соответствии с
                                требованиями нормативных документов и рекомендациями изготовителей оборудования.
                             </p>
                        </div>
                    </div>

                    <h3>Системы холодного водоснабжения, противопожарного водопровода и санитарно-технического оборудования</h3>
                    <div class="article_paragraph floating_right">
                        <a class="" href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с
                                разработанным Регламентом по техническому
                                обслуживанию оборудования систем холодного водоснабжения, противопожарного
                                водопровода и санитарно-технического оборудования.
                            </p>
                            <p>Ведение эксплуатационной документации в соответствии с требованиями нормативных документов и
                                рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <h3>Системы канализации и водоотведения</h3>
                    <div class="article_paragraph floating_left">
                        <a class="" href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии
                                с разработанным Регламентом по техническому обслуживанию оборудования систем канализации и водоотведения.
                            </p>
                            <p>Ведение эксплуатационной документации в соответствии с
                                требованиями нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <h3>Системы вентиляции, дымоудаления и кондиционирования</h3>
                    <div class="article_paragraph floating_right">
                        <a class="" href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с
                                разработанным Регламентом по техническому обслуживанию оборудования систем вентиляции, дымоудаления и кондиционирования.
                            </p>
                            <p>Ведение эксплуатационной документации в соответствии с
                                требованиями нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <h3>Подъемно-транспортное оборудование (лифты)</h3>
                    <div class="article_paragraph floating_left">
                        <a class="" href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Организация безопасного использования и содержания лифтов в период назначенного срока службы с
                                обязательным привлечением специализированной организации и заключением с
                                ней от имени заказчика договора/договоров, предусматривающего/их соответствующие
                                виды работ и услуг и условия их выполнения/оказания
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями технического
                                регламента Таможенного союза ТР ТС 011/2011 «Безопасность лифтов» и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <h3>Системы автоматической противопожарной защиты</h3>
                    <div class="article_paragraph floating_right">
                        <a class="" href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с разработанным
                                Регламентом по техническому обслуживанию и планово-предупредительному ремонту автоматических установок
                                пожарной сигнализации (АУПС), систем оповещения и управления эвакуацией людей при пожаре (СОУЭ),
                                автоматических установок пожаротушения (АУПТ).
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с
                                требованиями нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <h3>Системы автоматизации, диспетчеризации, мониторинга и управления инженерными системами.</h3>
                    <div class="article_paragraph floating_left">
                        <a class="" href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с
                                разработанным Регламентом по техническому обслуживанию систем автоматизации, диспетчеризации,
                                мониторинга и управления инженерными системами.
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями нормативных
                                документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <h3>Автоматические подъемно-раздвижные ворота и шлагбаумы</h3>
                    <div class="article_paragraph floating_right">
                        <a class="" href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный
                                ремонт в соответствии с разработанным Регламентом по техническому обслуживанию автоматических
                                подъемно-раздвижных ворот и шлагбаумов.
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями
                                нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <h3>Системы телевизионного и радиовещания</h3>
                    <div class="article_paragraph floating_left">
                        <a class="" href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт
                                в соответствии с разработанным Регламентом по техническому обслуживанию
                                системы кабельного телевидения и радиотрансляции.
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями
                                нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <h3>Иные технически сложные механические и электронные системы и оборудование</h3>
                    <div class="article_paragraph floating_right">
                        <a class="" href="/images/services_img/technical_service/electro.JPG" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <div class="article_text_short">
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с разработанным
                                Регламентом по техническому обслуживанию технически сложных механических
                                и электронных систем и оборудования.
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями
                                нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/fancybox-3.0/dist/jquery-3.6.4.min.js"></script>
<script src="/fancybox-3.0/dist/jquery.fancybox.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
