<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrew Shcherbakov">
    <title>Услуги</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/fancybox-3.0/dist/jquery.fancybox.min.css" />
    <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_article.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
    <div class="preloader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="mx-auto text-center">
            <h1>Техническое обслуживание</h1>
        </div>
            <div class="mx-auto mb-5">
                <div class="container_articles">
                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <p>Техническое обслуживание зданий – это комплекс действий, направленный на поддержание всех систем в рабочем
                                состоянии и сохранение здания в первоначальном виде.  </p>
                            <ul class="ul_style">
                                <li>В данный комплекс входят:
                                </li>
                                <li>текущая эксплуатация (устранение неполадок, выявленных в ходе регулярных осмотров инженерного оборудования);
                                </li>
                                <li>планово-предупредительные работы (систематическое проведение регламентных работ на инженерных системах по заранее составленному графику);
                                </li>
                                <li>проведение сезонных технических осмотров здания для осуществления постоянного контроля за общим состоянием сооружения;
                                </li>
                                <li>осуществление работ по устранению и предотвращению аварийных ситуаций;
                                </li>
                                <li>настройка и наладка инженерных систем сооружения;
                                </li>
                                <li>взаимодействие с надзорными и ресурсоснабжающими органами;
                                </li>
                                <li>контроль за рациональным расходом воды и электричества;
                                </li>
                                <li>подготовка здания к отопительному сезону.
                                </li>
                            </ul>

                            <p>Комплекс действий направлен на профилактические работы и ремонт следующих систем:</p>

                            <ul class="ul_style">
                                <li>систем электроснабжения и освещения;
                                </li>
                                <li>систем теплоснабжения и горячего водоснабжения;
                                </li>
                                <li>систем холодного водоснабжения, противопожарного водопровода и санитарно-технического оборудования;
                                </li>
                                <li>систем канализации и водоотведения;
                                </li>
                                <li>систем вентиляции, дымоудаления и кондиционирования;
                                </li>
                                <li>систем автоматической противопожарной защиты;
                                </li>
                                <li>систем автоматизации, диспетчеризации, мониторинга и управления инженерными системами;
                                </li>
                                <li>систем телевизионного и радиовещания;
                                </li>
                                <li>подъемно-транспортного оборудования (лифты);
                                </li>
                                <li>автоматических подъемно-раздвижных ворот и шлагбаумов
                                </li>
                                <li>иных технически сложных механических и электронных систем и оборудования.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Системы электроснабжения</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/electro.jpg" data-fancybox="images_el" data-caption="Обслуживание электроустановок">
                                    <img src="/images/services_img/technical_service/electro_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/electro2.jpg" data-fancybox="images_el" data-caption="Обслуживание электроустановок">
                                    <img src="/images/services_img/technical_service/electro2_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт, в соответствии с разработанным
                                Регламентом по техническому обслуживанию электрооборудования систем электроснабжения.
                            </p>
                            <p>Производство оперативных переключений.</p>
                            <p> Замена ламп в приборах освещения, приборов освещения.</p>
                            <p>Установка и подключение дополнительных электроустановочных изделий и электроприборов.
                                Ведение эксплуатационной документации в соответствии с требованиями нормативных документов и
                                рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Системы теплоснабжения и горячего водоснабжения</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/teplo.jpg" data-fancybox="images_teplo" data-caption="Системы теплоснабжения">
                                    <img src="/images/services_img/technical_service/teplo_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/teplo2.jpg" data-fancybox="images_teplo" data-caption="Системы теплоснабжения">
                                    <img src="/images/services_img/technical_service/teplo2_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и
                                планово-предупредительный ремонт в соответствии с разработанным
                                Регламентом по техническому обслуживанию систем теплоснабжения и горячего водоснабжения.
                            </p>
                            <p>Ведение эксплуатационной документации в соответствии с
                                требованиями нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Системы холодного водоснабжения, противопожарного водопровода и санитарно-технического оборудования</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/vod.jpg" data-fancybox="images_vod" data-caption="Системы водоснабжения">
                                    <img src="/images/services_img/technical_service/vod_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/vod2.jpg" data-fancybox="images_vod" data-caption="Системы водоснабжения">
                                    <img src="/images/services_img/technical_service/vod2_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с
                                разработанным Регламентом по техническому
                                обслуживанию оборудования систем холодного водоснабжения, противопожарного
                                водопровода и санитарно-технического оборудования.
                            </p>
                            <p>Ведение эксплуатационной документации в соответствии с требованиями нормативных документов и
                                рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Системы канализации и водоотведения</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/kan.jpg" data-fancybox="images_kan" data-caption="Системы канализации">
                                    <img src="/images/services_img/technical_service/kan_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/kan2.jpg" data-fancybox="images_kan" data-caption="Системы канализации">
                                    <img src="/images/services_img/technical_service/kan2_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии
                                с разработанным Регламентом по техническому обслуживанию оборудования систем канализации и водоотведения.
                            </p>
                            <p>Ведение эксплуатационной документации в соответствии с
                                требованиями нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Системы вентиляции, дымоудаления и кондиционирования</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/vent.jpg" data-fancybox="images_vent" data-caption="Системы вентиляции, дымоудаления и кондиционирования">
                                    <img src="/images/services_img/technical_service/vent_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/vent2.jpg" data-fancybox="images_vent" data-caption="Системы вентиляции, дымоудаления и кондиционирования">
                                    <img src="/images/services_img/technical_service/vent2_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с
                                разработанным Регламентом по техническому обслуживанию оборудования систем вентиляции, дымоудаления и кондиционирования.
                            </p>
                            <p>Ведение эксплуатационной документации в соответствии с
                                требованиями нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Подъемно-транспортное оборудование (лифты)</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/lift.jpg" data-fancybox="images_lift" data-caption="Подъемно-транспортное оборудование (лифты)">
                                    <img src="/images/services_img/technical_service/lift_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/lift2.jpg" data-fancybox="images_lift" data-caption="Подъемно-транспортное оборудование (лифты)">
                                    <img src="/images/services_img/technical_service/lift2_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Организация безопасного использования и содержания лифтов в период назначенного срока службы с
                                обязательным привлечением специализированной организации и заключением с
                                ней от имени заказчика договора/договоров, предусматривающего/их соответствующие
                                виды работ и услуг и условия их выполнения/оказания
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями технического
                                регламента Таможенного союза ТР ТС 011/2011 «Безопасность лифтов» и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Системы автоматической противопожарной защиты</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/fire.jpg" data-fancybox="images_fire" data-caption="Системы автоматической противопожарной защиты">
                                    <img src="/images/services_img/technical_service/fire_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/fire2.jpg" data-fancybox="images_fire" data-caption="Системы автоматической противопожарной защиты">
                                    <img src="/images/services_img/technical_service/fire2_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с разработанным
                                Регламентом по техническому обслуживанию и планово-предупредительному ремонту автоматических установок
                                пожарной сигнализации (АУПС), систем оповещения и управления эвакуацией людей при пожаре (СОУЭ),
                                автоматических установок пожаротушения (АУПТ).
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с
                                требованиями нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Системы автоматизации, диспетчеризации, мониторинга и управления инженерными системами.</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/dispetch.jpg" data-fancybox="images_disp" data-caption="Системы автоматизации, диспетчеризации, мониторинга">
                                    <img src="/images/services_img/technical_service/dispetch_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/dispetch2.jpg" data-fancybox="images_disp" data-caption="Системы автоматизации, диспетчеризации, мониторинга">
                                    <img src="/images/services_img/technical_service/dispetch2_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с
                                разработанным Регламентом по техническому обслуживанию систем автоматизации, диспетчеризации,
                                мониторинга и управления инженерными системами.
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями нормативных
                                документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Автоматические подъемно-раздвижные ворота и шлагбаумы</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/vorota.jpg" data-fancybox="images_vorota" data-caption="Автоматические подъемно-раздвижные ворота и шлагбаумы">
                                    <img src="/images/services_img/technical_service/vorota_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/vorota2.jpg" data-fancybox="images_vorota" data-caption="Автоматические подъемно-раздвижные ворота и шлагбаумы">
                                    <img src="/images/services_img/technical_service/vorota2.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный
                                ремонт в соответствии с разработанным Регламентом по техническому обслуживанию автоматических
                                подъемно-раздвижных ворот и шлагбаумов.
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями
                                нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Системы телевизионного и радиовещания</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/tv.jpg" data-fancybox="images_tv" data-caption="Системы телевизионного и радиовещания">
                                    <img src="/images/services_img/technical_service/tv_min.jpg" class="img_article  img_article_horizontal pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/tv2.jpg" data-fancybox="images_tv" data-caption="Системы телевизионного и радиовещания">
                                    <img src="/images/services_img/technical_service/tv2.jpg" class="img_article  img_article_horizontal pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт
                                в соответствии с разработанным Регламентом по техническому обслуживанию
                                системы кабельного телевидения и радиотрансляции.
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями
                                нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                    <div class="container_article news_decor">
                        <div class="container_article_content">
                            <h3>Иные технически сложные механические и электронные системы и оборудование</h3>
                            <div class="tp_gallery">
                                <a class="article_img" href="/images/services_img/technical_service/inoy.jpg" data-fancybox="images_inoy" data-caption="Иные технически сложные механические и электронные системы и оборудование">
                                    <img src="/images/services_img/technical_service/inoy_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                                <a class="article_img" href="/images/services_img/technical_service/inoy2.jpg" data-fancybox="images_inoy" data-caption="Иные технически сложные механические и электронные системы и оборудование">
                                    <img src="/images/services_img/technical_service/inoy2_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                                </a>
                            </div>
                            <p>Периодические осмотры, техническое обслуживание и планово-предупредительный ремонт в соответствии с разработанным
                                Регламентом по техническому обслуживанию технически сложных механических
                                и электронных систем и оборудования.
                            </p>
                            <p>Ведение эксплуатационной документации Объекта в соответствии с требованиями
                                нормативных документов и рекомендациями изготовителей оборудования.
                            </p>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/fancybox-3.0/dist/jquery-3.6.4.min.js"></script>
<script src="/fancybox-3.0/dist/jquery.fancybox.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
