<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrew Shcherbakov">
    <title>Услуги</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/fancybox-3.0/dist/jquery.fancybox.min.css" />
    <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_article.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
    <div class="preloader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="mx-auto text-center">
            <h1>Организационно технические мероприятия</h1>
        </div>
        <div class="card mx-auto mb-5 article_card">
            <div class="container_article">

                <h3>Сопровождение договоров</h3>
                <div class="article_paragraph floating_right">
                    <a href="/images/services_img/technical_events/technical_events_dogovor.jpg" data-fancybox="images" data-caption="Обслуживание электроустановок">
                        <img src="/images/services_img/technical_events/technical_events_dogovor_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                    </a>
                    <div class="article_text_short">
                        <p>Сопровождение (взаимодействие от имени Заказчика с руководителями и инспекторами ресурсоснабжающих
                            организаций по вопросам эксплуатации Объекта и обеспечения его коммунальными услугами, получение
                            и передача Заказчику первичных учетных документов и пр.) договоров Заказчика с ресурсоснабжающими
                            организациями на поставку коммунальных услуг (энергоснабжения, теплоснабжения, водоснабжения,
                            канализации и водоотведения) на Объект. Взаимодействие с городскими надзорными органами по вопросам,
                            входящим в обязательства по договору, от имени Заказчика. Прием и сопровождение представителей городских
                            надзорных органов и представителей ресурсоснабжающих организаций, предоставляющих коммунальные услуги, при
                            проведении ими инспекционных проверок, касающихся функционирования систем, на Объекте.
                        </p>
                        <p>
                            Установка и подключение дополнительных электроустановочных изделий и электроприборов.
                            Ведение эксплуатационной документации в соответствии с требованиями нормативных документов и
                            рекомендациями изготовителей оборудования.
                        </p>
                    </div>
                </div>

                <h3>Ведение учета потребления всех видов энергии и воды</h3>
                <div class="article_paragraph floating_left">
                    <a href="/images/services_img/technical_events/technical_events_uchet.jpg" data-fancybox="images" data-caption="Обслуживание электроустановок">
                        <img src="/images/services_img/technical_events/technical_events_uchet_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                    </a>
                    <div class="article_text_short">
                        <p>Ежемесячное, в течение года, ведение учета
                            потребления на Объекте всех видов энергии и воды с предоставлением соответствующих отчетов Заказчику.
                        </p>
                        <p>
                            Осуществление контроля расходования тепла, электроэнергии, водоснабжения. Контроль работы приборов учета,
                            организация проведения их поверки, ремонта или замены.
                        </p>
                    </div>
                </div>

                <h3>Ведение и комплектование технической документации</h3>
                <div class="article_paragraph floating_right">
                    <a href="/images/services_img/technical_events/technical_events_doc.jpg" data-fancybox="images" data-caption="Обслуживание электроустановок">
                        <img src="/images/services_img/technical_events/technical_events_doc.jpg" class="img_article  pic_scale_anim" alt=""/>
                    </a>
                    <div class="article_text_short">
                        <p>Ведение и комплектование технической документации по коммунальным услугам,
                            документирование произведенных подрядчиком мероприятий по технической
                            оборудования Объекта и предоставление Заказчику для ознакомления отчетов по итогам выполненных работ.
                        </p>
                    </div>
                </div>

                <h3>Организация пожарной безопасности Объекта</h3>
                <div class="article_paragraph">
                    <div class="article_text_long">
                        <a style="float: left" href="/images/services_img/technical_events/technical_events_fire.jpg" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_events/technical_events_fire_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <p>Осуществление контроля за соблюдением Правил противопожарного режима в Российской Федерации,
                            утвержденных постановлением Правительства Российской Федерации от 16.09.2020 № 1479 в зданиях, помещениях и на территориях.
                        </p>
                        <p>Участие в разработке и осуществлении мер по обеспечению противопожарного режима.
                        </p>
                        <p>Участие в разработке инструкций, устанавливающих основные направления обеспечения систем
                            предотвращения пожара и противопожарной защиты на объекте в соответствии с требованиями
                            Технического регламента о требованиях пожарной безопасности (ФЗ от 22.07.2008 № 123-ФЗ),
                            порядка обеспечения безопасности людей и сохранности материальных ценностей, а также создание
                            условий для успешного тушения пожара в начальной стадии;
                        </p>
                        <p>Разработка планов эвакуации при пожаре, актуализация ранее разработанных планов, размещение
                            и их установка в зданиях.
                        </p>
                        <p>Участие в организации работ по устранению нарушений обязательных требований пожарной безопасности,
                            выданных в предписаниях надзорными органами.
                        </p>
                        <p>Осуществление целевых проверок противопожарного состояния Объекта.
                        </p>
                        <p>Осуществление контроля организации работ по обеспечению пожарной безопасности на Объекте при проведении
                            реконструкции, строительных и ремонтных работ, а также техническом обслуживании и ремонте инженерных коммуникаций.
                        </p>
                    </div>
                </div>

                <h3>Иные виды услуг</h3>
                <div class="article_paragraph floating_right">
                    <div class="article_text_long">
                        <a style="float: right" href="/images/services_img/technical_events/technical_events_uchet.jpg" data-fancybox="images" data-caption="Обслуживание электроустановок">
                            <img src="/images/services_img/technical_events/technical_events_uchet_min.jpg" class="img_article  pic_scale_anim" alt=""/>
                        </a>
                        <p>Организация работы диспетчерской службы по приему заявок, их исполнению и контролю за их исполнением.
                        </p>
                        <p>Изготовление и установка навигационных табличек, внесение в них корректировок, на основании
                            кадровых изменений и перемещений сотрудников на Объекте в соответствии с установленным стандартом.
                        </p>
                        <p>Проведение организационно-технических мероприятий по подготовке и оформлению помещений и прилегающих
                            территорий Объекта для проведения деловых встреч, а также различных праздничных и торжественных мероприятий.
                        </p>
                        <p>Обеспечение приема и контроля документов от контрагентов Заказчика (провайдеров, предоставляющих услуги общественного питания)
                            о расходах на проведение представительских мероприятий, с
                            предоставлением отчетов о буфетном обслуживании по мероприятию и расходах, связанных
                            с его проведением и предоставление их Заказчику.
                        </p>
                        <p>Организация мероприятий по сбору, обработке и формирование заявок на заказ проездных билетов, гостиниц, трансфера, аренды автотранспорта,
                            услуг по бронированию VIP залов, залов ожидания в международных аэропортах для работников Заказчика.
                            Обеспечение приема и контроля документов от контрагентов Заказчика (предоставляющих услуги по организации служебных командировок)
                            о расходах на командирование работников Заказчика.
                        </p>
                        <p>Организационно-технические мероприятия по обеспечению сотрудников Заказчика питьевой водой.
                        </p>
                        <p>Организация приобретения запасных частей для текущего ремонта инженерных систем Объекта.
                        </p>
                        <p>Организация проведения замеров сопротивления изоляции проводов, кабелей, силового
                            электрооборудования и аппаратов, измерения сопротивления заземляющих устройств,
                            заземлителей и систем уравнивания потенциалов, проверки согласования параметров цепи «фаза-ноль» с
                            характеристиками защитных аппаратов.
                        </p>
                    </div>
                </div>

        </div>
    </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/fancybox-3.0/dist/jquery-3.6.4.min.js"></script>
<script src="/fancybox-3.0/dist/jquery.fancybox.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
