@font-face {
  font-family: "BestChoiceDemo";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("BestChoiceDemo"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/BestChoiceDemo-Regular.otf") format("otf"),
}
h1 {
font-family: Arial Black;
}
h2 {
font-family: Arial Black;
}
h3 {
font-family: Arial Black;
}
h4 {
font-family: Arial Black;
}
p {
font-family: Helvetica;
text-indent: 20px; /* Отступ первой строки в пикселах */
}
body {
font-family: "BestChoiceDemo", sans-serif;
background-color: #FFFAFA;

}
.img-sahdow{
  box-shadow: -0.2em -0.2em 0.9em #5F6062;
}
.nav_border{
  border-bottom: 2px solid #dddddd;
}
.static_hover{
  background-color: #025EA1;
  color: white;
}
/*Кнопка модального окна*/
.btn-modal {
  background-color: white;
  border: 1px solid #32a1ce;
  border-radius: 3px;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #32a1ce;
  
}
/*Кнопка выбора языка*/
.btn_select {
  border: 1px solid #32a1ce;
  background: white;
  width: 50px;
  height: 48px;
  border-radius: 3px;
  text-decoration: none;
  color: #32a1ce;
  font-size: 16px;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 0;
  background: #025EA1;
  color: white;
  overflow:hidden;
  transition: all ease 0.5s;
  border-radius: 0px;
}

.shadow span {
  opacity:0;
  transition: all ease 0.5s;
}

.btn_select:hover .shadow {
  width: 100%;
  height: 100%;
}

.btn_select:hover .shadow span {
  opacity: 1;
}

/* Верстка мобилки*/
@media only screen and (max-width: 530px) {
    .btn-modal {
      background-color: white;
      border: 1px solid #32a1ce;
      border-radius: 3px;
      padding: 8px 15px;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      color: #32a1ce;
      margin-bottom: -0.3rem !important;
      
    }
    .btn_select {
      border: 1px solid #32a1ce;
      background: white;
      width: 39px;
      height: 39px;
      border-radius: 3px;
      text-decoration: none;
      color: #32a1ce;
      font-size: 14px;
      text-align: center;
      line-height: 39px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      margin-bottom: -0.3rem !important;
    }
    .headlogo{
      max-width: 140px;
      margin-bottom: -0.5rem !important;
    }
    .head_font {
    font-size: 30px;
    }
  }
@media only screen and (max-width: 397px) {
    .btn-modal {
      background-color: white;
      border: 1px solid #32a1ce;
      border-radius: 3px;
      padding: 8px 15px;
      text-align: center;
      text-decoration: none;
      color: #32a1ce;
      font-size: 13px;
      margin-bottom: -0.3rem !important;
      
    }
    .btn_select {
      border: 1px solid #32a1ce;
      background: white;
      width: 37px;
      height: 37px;
      border-radius: 3px;
      text-decoration: none;
      color: #32a1ce;
      font-size: 12px;
      text-align: center;
      line-height: 37px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      margin-bottom: -0.3rem !important;
    }
    .headlogo{
      max-width: 140px;
      margin-bottom: -0.3rem !important;
    }
    .head_font{
      font-size: 25px;
    }
  }
@media only screen and (max-width: 368px) {
    .btn-modal {
      background-color: white;
      border: 1px solid #32a1ce;
      border-radius: 3px;
      text-align: center;
      text-decoration: none;
      color: #32a1ce;
      font-size: 12px;
      text-align:center;
      padding: 5px 0px;
      max-width: 65px;
      margin-bottom: -0.3rem !important;
      
    }
    .btn_select {
      border: 1px solid #32a1ce;
      background: white;
      width: 37px;
      height: 48px;
      border-radius: 3px;
      text-decoration: none;
      color: #32a1ce;
      font-size: 12px;
      text-align: center;
      line-height: 48px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      margin-bottom: -0.3rem !important;
    }
    .headlogo{
      max-width: 125px;
      margin-bottom: -0.3rem !important;
    }
    .head_font{
      font-size: 20px;
    }
  }
/* Карусель */
.carousel {
  width: 100%;
}
.carousel-item img {
  width: 100%;
  height: 600px; /* высота изображения */
  object-fit: cover;
}
.card-body img {
  width: 100%;
  height: 200px; /* высота изображения */
  object-fit: cover;
}
.cartext-decor {
  color:     #FFFFFF;
  font-weight: bold;
  font-size: 35px;
  text-shadow: 5px 5px 5px  #5F6062;
}
/* Кнопки хедер */
.btn-rounded {
    border-radius: 3px;
}
.btn_house {
  width: 30px;
}


/* Центрирование и маржины */

.leftimg {
 float:left; /* Выравнивание по левому краю */
 margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.rightimg  {
 float: right; /* Выравнивание по правому краю  */
 margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}
.centerimg  {
 float: center; /* Выравнивание по центру  */
 margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}
.me-house {
  margin-left: 2.5rem !important;
}
.ms-toggle {
  margin-right: 2.8rem !important;
}
.me-footer {
  margin-left: 2.5rem !important;
}
.mb-cont {
  margin-bottom: 6rem !important;
}
.mt-hist {
  margin-top: 2rem !important;
}
/* Декорации и шрифты */
.phone-decor{
  color: black;
  font-size: 20px;
  font-family: "Cirillic";
  font-weight: bold;
  text-decoration: none;
}
.contact-decor{
  color: #868686;
  font-size: 20px;
  font-family: "Cirillic";
  text-decoration: none;
}
.mail-decor {
  color: black;
  font-size: 20px;
  font-family: "Cirillic";
  font-weight: bold;
  text-decoration: none;
}

.small-text {
  font-size: 12px;
}
.news-text {
  font-size: 20px;
}
.normal-text {
  font-size: 25px;
}
.h2-text {
  font-size: 20px;
}
.nav-butt {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:5px;
  margin-right: 5px;
}
/* Кнопка наверх страницы */
.btn-up {
  position: fixed;
  background-color: #025EA1;
  right: 20px;
  bottom: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 85% 85%;
  background-image: url(images/up-arrow.svg);
}

.btn-up_hide {
  display: none;
}
.change-pics .change-pic:nth-of-type(2) {
  display: none;
}
@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #003274;
  }
  .btn-modal:hover {
    background-color: #025EA1;
    color: white;
  }
  .nav-butt:hover {
    background-color: #025EA1;
    color: white;
  }
  
  .change-pics:hover .change-pic:nth-of-type(1) {
    display: none;
  }
  
  .change-pics:hover .change-pic:nth-of-type(2) {
    display: block;
  }
}
/*Белый домик при наведении курсора*/ 

.change-pics:hover {
  cursor: pointer;
}
/*Стили для фоток право, центр, лево и фон*/ 
.signright {
  float: right; /* Выравнивание по правому краю */
  text-align: center;
  border: 1px solid #7F7F7F; /* Параметры рамки */
  padding: 7px; /* Поля внутри блока */
  margin: 10px 10px 5px 5px; /* Отступы вокруг */
  background: #f0f0f0; /* Цвет фона */
 }
 .signright figcaption {
  margin: 0 auto 5px; /* Отступы вокруг абзаца */
  font-size: 14px;
 }
 .signleft {
  float: left; /* Выравнивание по правому краю */
  text-align: center;
  border: 1px solid #7F7F7F; /* Параметры рамки */
  padding: 7px; /* Поля внутри блока */
  margin: 10px 10px 5px 5px; /* Отступы вокруг */
  background: #f0f0f0; /* Цвет фона */
 }
 .signleft figcaption {
  margin: 0 auto 5px; /* Отступы вокруг абзаца */
  font-size: 14px;
 }

 .signcenter {
  text-align: center;
  border: 1px solid #7F7F7F; /* Параметры рамки */
  padding: 7px; /* Поля внутри блока */
  margin: 10px 10px 5px 5px; /* Отступы вокруг */
  background: #f0f0f0; /* Цвет фона */
  max-width: 400px;
  margin-left: auto;
  margin-right: auto
 }
 .signcenter figcaption {
  margin: 0 auto 5px; /* Отступы вокруг абзаца */
  font-size: 14px;
 }

/* Loader */
.preloader {
  position:relative;
  content: url("/images/Logo.svg");
  left: 50%;
  top: 50%;
  margin: 250px 0 250px -50px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#myDiv {
  display: none;
  text-align: center;
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.5s;
  animation-name: animatebottom;
  animation-duration: 0.3s
}

@-webkit-keyframes animatebottom {
  from { bottom:-40px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-40px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
/*Анимации*/
.anim_logo{
    animation: spin 20s linear infinite;
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.2s;
    animation-name: animatebottom;
    animation-duration: 0.2s
}

@-webkit-keyframes animatebottom {
    from { bottom:-10px; opacity:0 }
    to { bottom:0; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-10px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
/* Стили Галереи */
.thumb img {
  filter: none;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 3px;
  width: 450px;
  height: 300px;
  object-fit: cover; 
  transition: 0.5s; /* Время эффекта */
}

.thumb img:hover {
  transform: scale(1.03); /* Увеличиваем масштаб */
}

.thumb {
  padding: 10px;
}
