.container_about{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 10%;
}

.about_text{
    align-content: center;
    justify-content: center;
    font-size: 23px;
}

.selected_rout{
    font-family: "RosatomWebBold", "Arial", sans-serif;
}

.about_text p{
    margin-bottom:10px ;
    text-align: start;
}
.default{
    border: 0px solid #7F7F7F; /* Параметры рамки */
    background: none; /* Цвет фона */
}