.container_about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 10%;
}

.about_text{
    align-content: center;
    justify-content: center;
    font-size: 23px;
}

.selected_rout{
    font-family: "RosatomWebBold", "Arial", sans-serif;
}

.about_text p{
    margin-bottom:10px ;
    text-align: justify;
}
.about_text li{
    margin-bottom:10px ;
    text-align: justify;
}
.default{
    border: 0px solid #7F7F7F; /* Параметры рамки */
    background: none; /* Цвет фона */
}

@media only screen and (max-width: 1000px) {
    .container_about {
        margin: 0 5%;
    }
    .ul_style{
        margin-left: 20px;
    }
    .default{
        width: 100%;
    }
    .signright{
        margin: 0 0 0 0;
    }
}
@media only screen and (max-width: 690px) {
    .container_about {
        margin: 0 10px;
    }
    .ul_style{
        margin-left: 10px;
    }
}