/* Верстка мобилки*/
@media only screen and (max-width: 1230px) {
    .container_footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer_logo {
        margin-left: 2rem;
    }
    .nav_links a{
        font-size: 14px;
        padding-left: 2rem;
    }
    .contact_footer{
        margin-right: 2rem;
    }
    .contact_footer a{
        font-size: 14px;
    }
    .uaz_copyright a{
        margin-left: 2rem;
    }
    .contact_footer a img{
        margin-right: 15px;
    }
    .uaz_copyright{
        font-size: 14px;
    }
}
@media only screen and (max-width: 991px) {
    .container_footer{
        grid-template-columns: 1fr 1fr;
    }
    .nav_links{
        display: none;
    }
    .top_header_second{
        height: auto;
    }
    .right_border{
        display: none;
    }
    .navbar-nav{
        align-content: center;
        align-items: center;
    }
    .nav-item{
        max-width: 200px;
    }

}
@media only screen and (max-width: 650px) {
    .right_border_hidden{
        display: flex;
    }
    .contact_header{
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid  #d7d7d7;
    }
    .phone-decor{
        font-size: 0px;

    }
    .phone-decor img{
        margin-right: 0px;
    }
    .mail-decor{
        display: none;
    }

}
@media only screen and (max-width: 545px) {
    .top_header_main{
        height: 60px;
    }
    .header_contact_segment{
        align-items: center;
        margin-right: 1rem;
    }
    .head_main_logo head_logo{
        max-height: 40px;
    }
    .right_border_logo{
        height: 37px;
    }
    .contact_footer a img{
        display: none;
    }
    .btn_select_modal {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .btn_select_modal img {
        width: 25px;
        margin-bottom: 2px;
    }
    .btn_select {
        width: 40px;
        height: 40px;
        font-size: 15px;
        line-height: 40px;
    }
    .contact_header{
        width: 40px;
        height: 40px;
    }
    .phone-decor img{
        width: 25px;
    }
    .right_border_hidden{
        height: 38px;
    }
    .right_border_select{
        height: 38px;
    }

    .right_border_logo{
        height: 38px;
    }

    .head_main_logo .head_logo{
        height: 40px;
    }
    .head_main_logo .head_name{
        height: 40px;
    }

}
@media only screen and (max-width: 408px) {
}
@media only screen and (max-width: 348px) {
    .container_main_head{
        flex-wrap: wrap;
        justify-content: center;
    }
    .top_header_main{
        height: auto;
    }
    .head_main_logo{
        width: auto;
        margin-bottom: 10px;
    }
    .header_contact_segment{
        margin-right: 0px;
        margin-left: 15px;
    }
}