/* Верстка мобилки*/
@media only screen and (max-width: 991px) {
    .right_border{
        display: none;
    }
    .navbar-nav{
        align-content: center;
        align-items: center;
    }
    .nav-item{
        max-width: 200px;
    }
}
@media only screen and (max-width: 545px) {
    .btn-modal {
        background-color: white;
        border: 1px solid #32a1ce;
        border-radius: 3px;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        color: #32a1ce;
        margin-bottom: -0.3rem !important;

    }
    .btn_select {
        border: 1px solid #32a1ce;
        background: white;
        width: 39px;
        height: 39px;
        border-radius: 3px;
        text-decoration: none;
        color: #32a1ce;
        font-size: 14px;
        text-align: center;
        line-height: 39px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: -0.3rem !important;
    }
    .headlogo{
        max-width: 140px;
        margin-bottom: -0.5rem !important;
    }
    .right_border_logo{
        height: 37px;
    }
    .head_font {
        font-size: 30px;
    }
}
@media only screen and (max-width: 408px) {
    .btn-modal {
        background-color: white;
        border: 1px solid #32a1ce;
        border-radius: 3px;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        color: #32a1ce;
        font-size: 13px;
        margin-bottom: -0.3rem !important;

    }
    .btn_select {
        border: 1px solid #32a1ce;
        background: white;
        width: 37px;
        height: 37px;
        border-radius: 3px;
        text-decoration: none;
        color: #32a1ce;
        font-size: 12px;
        text-align: center;
        line-height: 37px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: -0.3rem !important;
    }
    .headlogo{
        margin-bottom: -0.3rem !important;
    }
    .head_font{
        font-size: 25px;
    }
}
@media only screen and (max-width: 396px) {
    .btn-modal {
        background-color: white;
        border: 1px solid #32a1ce;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        color: #32a1ce;
        font-size: 12px;
        text-align:center;
        padding: 5px 0px;
        max-width: 65px;
        height: 48px;
        margin-bottom: -0.3rem !important;

    }
    .btn_select {
        border: 1px solid #32a1ce;
        background: white;
        width: 37px;
        height: 48px;
        border-radius: 3px;
        text-decoration: none;
        color: #32a1ce;
        font-size: 12px;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: -0.3rem !important;
    }
    .headlogo{
        margin-left: 5px;
        max-width: 125px;
        margin-bottom: -0.3rem !important;
    }
    .right_border_logo{
        height: 32px;
    }
    .head_font{
        font-size: 20px;
    }
}