body {
    font-family: "RosatomWebRegular", "Arial", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    background-image: url("/images/icons_swg/main_logo/LogoGR.svg") ;
    background-repeat: no-repeat;
    background-position: -52rem -52rem;
    background-size: 200vh;
    background-attachment:fixed;
}
#myDiv_no_preload{
    min-height: 75vh;
    flex-grow: 1;
    text-align: center;
}
.head_main_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}
.head_main_logo .head_logo{
    height: 60px;
}
.head_main_logo .head_name{
    height: 60px;
}

.right_border_logo{
    width: 2px;
    border-right: 2px solid #d7d7d7;
    height: 60px;
    margin-left: 7px;
}
/*footer*/
footer{
    background-image: linear-gradient(
            90deg,
            #025EA1 0%,
            #0075c9 85%,
            #0085e1 100%

    );
}
.container_footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-top: 3px solid #d7d7d7;
    padding-top: 5px;
    margin-top: 1.2rem;
    min-height: 125px;
}
.footer_logo {
    margin-left: 5rem;
    display: flex;
    align-items: center;
}
.uaz_copyright{
    color: white;
}
.uaz_copyright a{
    text-decoration: none;
    color: white;
    cursor: unset;
    font-size: 14px;
    margin-left: 5rem;
}
/*NavBar*/
.top_header_main{
    height: 82px;
    border-bottom: 2px solid #d7d7d7;
}
.container_main_head{
    display: flex;
    width: 100%;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.container_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
}
.err_text{
    margin-top: 2rem;
}
.info_text{
    margin-top: 2rem;
}
.login_form{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 500px;
    width: 250px;
    margin-top: 5rem;
}
.form_group_login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 450px;
    margin-bottom: 25px;
}
.btn_login{
    border:1px solid black;
    background: #8dbcff;
}
.btn_login:hover{
    border:1px solid black;
    background: white;
}
@media only screen and (max-width: 500px) {
    .login_form{
        max-width: 350px;
        width: 180px;
    }
    .form_group_login{
        flex-direction: column;
        min-width: auto;
        max-width: 450px;
        width: 300px;
    }
    .btn_login{
        width: 90px;
    }
}