@font-face {
    font-family: 'RosatomWebBold';
    src: url('/fonts/Rosatom-Bold_W/Rosatom-Bold_W.eot');
    src:
            url('/fonts/Rosatom-Bold_W/Rosatom-Bold_W.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Rosatom-Bold_W/Rosatom-Bold_W.woff2') format('woff2'),
            url('/fonts/Rosatom-Bold_W/Rosatom-Bold_W.woff') format('woff'),
            url('/fonts/Rosatom-Bold_W/Rosatom-Bold_W.ttf') format('truetype'),
            url('/fonts/Rosatom-Bold_W/Rosatom-Bold_W.svg#RosatomWeb-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RosatomWebItalic';
    src: url('/fonts/Rosatom-Italic_W/Rosatom-Italic_W.eot');
    src:
            url('/fonts/Rosatom-Italic_W/Rosatom-Italic_W.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Rosatom-Italic_W/Rosatom-Italic_W.woff2') format('woff2'),
            url('/fonts/Rosatom-Italic_W/Rosatom-Italic_W.woff') format('woff'),
            url('/fonts/Rosatom-Italic_W/Rosatom-Italic_W.ttf') format('truetype'),
            url('/fonts/Rosatom-Italic_W/Rosatom-Italic_W.svg#RosatomWeb-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RosatomWebLight';
    src: url('/fonts/Rosatom-Light_W/Rosatom-Light_W.eot');
    src:
            url('/fonts/Rosatom-Light_W/Rosatom-Light_W.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Rosatom-Light_W/Rosatom-Light_W.woff2') format('woff2'),
            url('/fonts/Rosatom-Light_W/Rosatom-Light_W.woff') format('woff'),
            url('/fonts/Rosatom-Light_W/Rosatom-Light_W.ttf') format('truetype'),
            url('/fonts/Rosatom-Light_W/Rosatom-Light_W.svg#RosatomWeb-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RosatomWebRegular';
    src: url('/fonts/Rosatom-Regular_W/Rosatom-Regular_W.eot');
    src:
            url('/fonts/Rosatom-Regular_W/Rosatom-Regular_W.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Rosatom-Regular_W/Rosatom-Regular_W.woff2') format('woff2'),
            url('/fonts/Rosatom-Regular_W/Rosatom-Regular_W.woff') format('woff'),
            url('/fonts/Rosatom-Regular_W/Rosatom-Regular_W.ttf') format('truetype'),
            url('/fonts/Rosatom-Regular_W/Rosatom-Regular_W.svg#RosatomWeb-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
h1 {
    font-family: "RosatomWebBold", "Arial", sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 50px;
}
h2 {
    font-family: "RosatomWebBold", "Arial", sans-serif;
    font-size: 47px;
}
h3 {
    font-family: "RosatomWebBold", "Arial", sans-serif;
    font-size: 35px;
}
h4 {
    font-family: "RosatomWebBold", "Arial", sans-serif;
    font-size: 20px;

}
h5 {
    font-family: "RosatomWebBold", "Arial", sans-serif;
    font-size: 35px;
}
p {
    text-indent: 50px; /* Отступ первой строки в пикселах */
    width: 100%;
    text-align: justify;

}
.p_start{
    text-align: start;
    text-indent: 20px; /* Отступ первой строки в пикселах */
}
.ul_style{
    list-style-type: square;
    margin-left: 70px;
    font-size: 21px;
}
li{
    text-align: justify;
}
br{
    right: 20px;
}
body {
    font-family: "RosatomWebRegular", "Arial", sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    background-image: url("/images/icons_swg/main_logo/LogoGR.svg") ;
    background-repeat: no-repeat;
    background-position: -52rem -52rem;
    background-size: 200vh;
/*    background-size: 200vh;
    background-position: -800% 80%;
    background-attachment:fixed;*/
    background-attachment:fixed;

}
label{
    display: inline;
}
#myDiv{
    min-height: 75vh;
    flex-grow: 1;
    display: none;
    text-align: center;
}
#myDiv_no_preload{
    min-height: 75vh;
    flex-grow: 1;
    text-align: center;
}
.head_main_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
}
.head_main_logo .head_logo{
    height: 60px;
}
.head_main_logo .head_name{
    height: 60px;
}

.right_border_logo{
    width: 2px;
    border-right: 2px solid #d7d7d7;
    height: 60px;
    margin-left: 7px;
}
/*footer*/
footer{
    background-image: linear-gradient(
            90deg,
            #025EA1 0%,
            #0075c9 85%,
            #0085e1 100%

    );
}
.container_footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-top: 3px solid #d7d7d7;
    padding-top: 5px;
    margin-top: 1.2rem;
}
.footer_logo {
    margin-left: 5rem;
    display: flex;
    align-items: center;
}
.nav_links{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr ;
    color: white;
    font-size: 20px;
}
.nav_links a{
    text-decoration: none;
    cursor: pointer;
    justify-content: start;
    padding-left: 5rem;
    color: white;
}
.contact_footer{
    display: grid;
    justify-content: end;
    align-items: center;
    margin-right: 5rem;
}
.contact_footer a{
    text-decoration: none;
    justify-items: start;
    color: white;
    font-size: 18px;
    margin-top: 20px;
}
.contact_footer a img{
    margin-right: 20px;
}
.uaz_copyright{
    color: white;
}
.uaz_copyright a{
    text-decoration: none;
    color: white;
    cursor: unset;
    font-size: 14px;
    margin-left: 5rem;
}

/*NavBar*/
.top_header_main{
    height: 82px;
    border-bottom: 2px solid #d7d7d7;
}
.container_main_head{
    display: flex;
    width: 100%;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.top_header_second{
    height: 56px;
    border-bottom: 2px solid #d7d7d7;
}
.top_header_second_flex{
    display: flex;
    width: 100%;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.header_contact_segment{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: end;
    margin-right: 2rem;
}

.nav_drop_item{
    padding-top: 5px;
    padding-bottom:10px;
    text-decoration: none;
    color: #3b3b3b;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 10px 0px 10px;
}

.dropdown:hover{
    padding: -7px;
    border-bottom: 5px solid #025EA1;
    margin-bottom: -5px;
}
.dropdown:hover  .nav_drop_item{
    color: #025EA1;
}
.dropdown ul{
    margin-top: 4px;
}
.dropdown-menu{
    border-radius: 1px;
}
.dropdown-item {
    font-size: 18px;
    background-color: white;
    color: #3b3b3b;
}

.dropdown-item:hover{
    transition: all ease-out 0.08s;
    background-color: white;
    color: #025EA1;
    border-left:5px solid #025EA1;
}

.dropdown_checked {
    display: block;
}
.mobile_item{
    display: none;
}
.navbar-toggler{
    margin-right: 2rem;
}
.nav-item{
    padding-top: 5px;
    padding-bottom:10px;
    text-decoration: none;
    color: #3b3b3b;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 10px 0px 10px;
}

.nav-item:hover {
    padding: -7px;
    border-bottom: 5px solid #025EA1;
    margin-bottom: -5px;
    color: #025EA1;
}
.right_border{
    margin-top: 8px;
    border-right: 1px solid #d7d7d7;
    height: 30px;
}
.static_hover {
    padding: -7px;
    border-bottom: 5px solid #025EA1;
    margin-bottom: -5px;
    color: #025EA1;
}
.static_hover .nav_drop_item{
    color: #025EA1;
}


.contact_header{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin-right: 15px;
}
.header_btn_group{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    pointer-events: none; /* Ручка застряла! */
}

.phone-decor{
    text-decoration: none;
    font-family: "RosatomWebBold", "Arial", sans-serif;
    color: #3b3b3b;
    font-size: 17px;
}
.phone-decor img{
    margin-right: 15px;
}

.mail-decor {
    text-decoration: none;
    font-family: "RosatomWebBold", "Arial", sans-serif;
    color: #3b3b3b;
    font-size: 18px;
}
.mail-decor img{
    margin-right: 15px;
}
/*Кнопка выбора языка и модалка*/
.btn_select_modal {
    border: 1px solid  #d7d7d7;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    color:  #d7d7d7;
    font-size: 16px;
    text-align: center;
    line-height: 47px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.btn_select {
    border: 1px solid  #d7d7d7;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    color:  #d7d7d7;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.right_border_select{
    width: 1px;
    border-right: 1px solid #d7d7d7;
    height: 45px;
}
.right_border_hidden{
    display: none;
    width: 1px;
    border-right: 1px solid #d7d7d7;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}
.shadow_eng {
    position: absolute;
    top: 0;
    left: 0;
    height: 48px;
    width: 0;
    background: #025EA1;
    color: white;
    overflow:hidden;
    transition: all ease 0.5s;
    border-radius: 0px;
}

.shadow_eng span {
    opacity:0;
    transition: all ease 0.5s;
}

.btn_select:hover .shadow_eng {
    width: 100%;
    height: 100%;
}

.btn_select:hover .shadow_eng span {
    opacity: 1;
}

.btn_select_modal:hover .shadow_eng {
    width: 100%;
    height: 100%;
}

.btn_select_modal:hover .shadow_eng span {
    opacity: 1;
}

/* Центрирование и маржины */
.me-footer {
    margin-left: 2.5rem !important;
}
.mt-hist {
    margin-top: 2rem !important;
}
.me_house {
    width: 50px;
    margin-left: 2rem;
}

/* Декорации и шрифты */

.news-text {
    font-size: 20px;
}
.normal-text {
    font-size: 25px;
}
.h2-text {
    font-size: 20px;
}
/* Кнопка наверх страницы */
.btn-up {
    position: fixed;
    background-color: #025EA1;
    right: 20px;
    bottom: 5px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
}

.btn-up_hide {
    display: none;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #003274;
    }
}

/*Стили для фоток право, центр, лево и фон*/

.signright {
    float: right; /* Выравнивание по правому краю */
    text-align: center;
    border: 1px solid #7F7F7F; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 10px 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */
}
.signright figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
    font-size: 14px;
}
.signleft {
    float: left; /* Выравнивание по правому краю */
    text-align: center;
    border: 1px solid #7F7F7F; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 10px 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */
}
.signleft figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
    font-size: 14px;
}

.signcenter {
    text-align: center;
    border: 1px solid #7F7F7F; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 10px 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */
    max-width: 400px;
    margin-left: auto;
    margin-right: auto
}
.signcenter figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
    font-size: 14px;
}

/* Loader */
.preloader {
    position:relative;
    content: url("/images/icons_swg/main_logo/Logo.svg");
    left: 48%;
    border-radius: 50%;
    margin-top: 30vh;
    margin-bottom: 70vh;
    flex-grow: 1;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
/*Анимации*/
.anim_logo{
    animation: spin 20s linear infinite;
}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.2s;
    animation-name: animatebottom;
    animation-duration: 0.2s
}

@-webkit-keyframes animatebottom {
    from { bottom:-40px; opacity:0 }
    to { bottom:0; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-40px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.animate-top {
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s
}

@-webkit-keyframes animatetop{
    from { top:-40px; opacity:0 }
    to { top:0; opacity:1 }
}

@keyframes animatetop {
    from{ top:-40px; opacity:0 }
    to{ top:0; opacity:1 }
}

.animated-box {
    animation: example-animation 7s infinite, infinite alternate;
}

@keyframes example-animation {
    0% { transform: rotateZ(-3deg); transform-origin: top center}
    50% { transform: rotateZ(3deg); transform-origin: top center}
    100% { transform: rotateZ(-3deg); transform-origin: top center}
}
.pic_scale_anim{
    object-fit: cover;
    transition: 0.3s;
}
.pic_scale_anim:hover{
    transform: scale(1.03);
}
/* Стили Галереи */
.thumb img {
    filter: none;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 3px;
    width: 450px;
    height: 300px;
    object-fit: cover;
    transition: 0.5s; /* Время эффекта */
}

.thumb img:hover {
    transform: scale(1.03); /* Увеличиваем масштаб */
}

.thumb {
    padding: 10px;
}

.hidden{
    display: none;
}