/* Верстка мобилки*/
@media only screen and (max-width: 1230px) {
    .container_footer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer_logo {
        margin-left: 2rem;
    }
    .nav_links a{
        font-size: 14px;
        padding-left: 2rem;
    }
    .contact_footer{
        margin-right: 2rem;
    }
    .contact_footer a{
        font-size: 14px;
    }
    .contact_footer a img{
        margin-right: 15px;
    }
    .uaz_copyright{
        font-size: 14px;
    }
}
@media only screen and (max-width: 991px) {
    .container_footer{
        grid-template-columns: 1fr 1fr;
    }
    .nav_links{
        display: none;
    }
    .top_header_second{
        height: auto;
    }
    .right_border{
        display: none;
    }
    .navbar-nav{
        align-content: center;
        align-items: center;
    }
    .nav-item{
        max-width: 200px;
    }

}
@media only screen and (max-width: 740px) {



}
@media only screen and (max-width: 545px) {
    .btn_select {
        border: 1px solid #32a1ce;
        background: white;
        width: 39px;
        height: 39px;
        text-decoration: none;
        color: #32a1ce;
        font-size: 14px;
        text-align: center;
        line-height: 39px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: -0.3rem !important;
    }
    .headlogo{
        max-width: 140px;
        margin-bottom: -0.5rem !important;
    }
    .right_border_logo{
        height: 37px;
    }
}
@media only screen and (max-width: 408px) {
    .btn_select {
        border: 1px solid #32a1ce;
        background: white;
        width: 37px;
        height: 37px;
        border-radius: 3px;
        text-decoration: none;
        color: #32a1ce;
        font-size: 12px;
        text-align: center;
        line-height: 37px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: -0.3rem !important;
    }
    .headlogo{
        margin-bottom: -0.3rem !important;
    }
}
@media only screen and (max-width: 396px) {
    .btn_select {
        border: 1px solid #32a1ce;
        background: white;
        width: 37px;
        height: 48px;
        border-radius: 3px;
        text-decoration: none;
        color: #32a1ce;
        font-size: 12px;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        margin-bottom: -0.3rem !important;
    }
    .headlogo{
        margin-left: 5px;
        max-width: 125px;
        margin-bottom: -0.3rem !important;
    }
    .right_border_logo{
        height: 32px;
    }
}