<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrew Shcherbakov">
    <title>О Комании</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_cards.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
    <div id="myDiv_no_preload" class="animate-bottom">
        <div class="mx-auto text-center">
            <h1>О Компании АО "УАЗ"</h1>
        </div>
        <div class="container_squares">
            <a th:href="@{/about/advantage}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3>Преимущества</h3>
                </div>
                <div class="card_img">
                    <img  src="/images/about_img/advantage_img/advantage.jpg" alt="" >
                </div>
            </a>
            <a th:href="@{/about/quality}" class="container_square news_decor" >
                <div class="card_title_content">
                    <h3>Политика в области качества</h3>
                </div>
                <div class="card_img">
                    <img src="/images/about_img/quality_img/quality.jpg" alt="" >
                </div>
            </a>
            <a th:href="@{/about/social}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3>Социальная политика</h3>
                </div>
                <div class="card_img">
                    <img src="/images/about_img/social_img/social.jpg" alt="">
                </div>
            </a>
            <a th:href="@{/about/ohrana_truda}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3>Охрана труда</h3>
                </div>
                <div class="card_img">
                    <img src="/images/about_img/ohrana_truda/ohrana_truda.jpg" alt="" >
                </div>
            </a>
            <a th:href="@{/about/history}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3 class="">История</h3>
                </div>
                <div class="card_img">
                    <img src="/images/about_img/history_img/history.jpg" alt="" >
                </div>
            </a>
            <a th:href="@{/about/providers}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3 class="">Закупки ГПЗ</h3>
                </div>
                <div class="card_img">
                    <img src="/images/about_img/providers_img/provider.jpg" alt="" >
                </div>
            </a>
 <!--
            <a th:href="@{/about/vacancies}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3 class="">Вакансии</h3>
                </div>
                <div class="card_img">
                    <img src="/images/about_img/vacancies_img/vacancies.jpg" alt="" >
                </div>
            </a>
            <a th:href="@{/about/documents}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3 class="">Документы</h3>
                </div>
                <div class="card_img">
                    <img src="/images/about_img/documents_img/documents.jpg" alt="" >
                </div>
            </a>
-->
        </div>
    </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
