<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrew Shcherbakov">
    <title>О Комании</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_cards.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
    <div class="preloader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="mx-auto text-center">
            <h1>О Компании АО "УАЗ"</h1>
        </div>
        <div class="container_squares">
            <a th:href="@{/projects/ordinka}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3>Проектирование, эксплуатация и контроль</h3>
                </div>
                <div class="card_img">
                    <img  src="/images/projects_img/ordinka/prew_ordinka.jpg" alt="" >
                </div>
            </a>
            <a th:href="@{/projects/ordinka}" class="container_square news_decor" >
                <div class="card_title_content">
                    <h3>Организационно технические мероприятия</h3>
                </div>
                <div class="card_img">
                    <img src="/images/projects_img/ordinka/prew_ordinka.jpg" alt="" >
                </div>
            </a>
            <a th:href="@{/projects/ordinka}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3>Техническое обслуживание объектов недвижимости</h3>
                </div>
                <div class="card_img">
                    <img src="/images/projects_img/ordinka/prew_ordinka.jpg" alt="">
                </div>
            </a>
            <a th:href="@{/projects/ordinka}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3>Клининг, благоустройство и такелаж</h3>
                </div>
                <div class="card_img">
                    <img src="/images/projects_img/ordinka/prew_ordinka.jpg" alt="" >
                </div>
            </a>
            <a th:href="@{/projects/ordinka}" class="container_square news_decor">
                <div class="card_title_content">
                    <h3 class="">Строительство и ремонт</h3>
                </div>
                <div class="card_img">
                    <img src="/images/projects_img/ordinka/prew_ordinka.jpg" alt="" >
                </div>
            </a>
        </div>
    </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
