<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrew Shcherbakov">
    <title>Контакты</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_contacts.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
    <div class="preloader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="mx-auto text-center">
            <h1>Контакты</h1>
        </div>

        <div class="container-fluid mx-auto">
            <div class="row">
                <div class="card mx-auto mb-5 contact_card">
                    <div class="contact_text">
                        <h4>Для связи:</h4>
                        <div class="contact_ph_ml">
                            <label>Позвоните нам:<a href="tel:+74999492525">+7 (499) 949-25-27</a></label>
                            <label>Напишите нам:<a href="mailto:uaz@domatom.ru">uaz@domatom.ru</a></label>
                        </div>
                        <h4 style="margin-top: 20px">Как доехать: </h4>
                        <label>
                            <label class="selected_rout">От метро «Нагатинская»</label> (последний вагон из центра)
                            Подняться на улицу через 5-й выход. Через 200 метров повернуть налево и перейти дорогу с трамвайными путями.
                            Через 100 метров зайти в здание 4Ас9.<br>
                            <label class="selected_rout">От МЦК «Верхние котлы»</label> (последний вагон из центра)
                            Покинуть станцию через выход 1. Пройти через парк и пересечь Варшавское шоссе. На трамвайной остановке МЦК «Верхние котлы» сесть в
                            трамвай №49 или №47 до остановки «Платформа нагатинская».
                        </label>
                        <h4 style="margin-top: 20px">Противодействие коррупции: </h4>
                        <label class="corruption">
                            Если Вам стало известно о совершении (приготовлении) работниками АО «УАЗ» коррупционных правонарушений или каких-либо действий, нарушающих имущественные и иные права и законные интересы Общества, Вы можете сообщить об этом, воспользовавшись каналами связи, включающими:<br>
                            - электронная почта АО «УАЗ»: <a href="mailto:uaz@domatom.ru">uaz@domatom.ru</a>;<br>
                            - электронная почта Госкорпорации «Росатом»: <a href="mailto:0707@rosatom.ru">0707@rosatom.ru</a>;<br>
                            -телефон горячей линии Госкорпорации «Росатом»: <a href="tel:88001000707">8 (800) 100-07-07</a> (многоканальный, круглосуточно, бесплатно).<br>
                        </label>
                    </div>

                    <div class="contact_map row">
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae9a81ece63c0ee0b3f5587a08ca992f84b4ecedf7741f472527e1760a56b0f16&amp;width=1071&amp;height=560&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
