<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Andrew Shcherbakov">
  <title>История</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/fancybox-3.0/dist/jquery.fancybox.min.css" />
  <link href="/StyleSheets/style.css" rel="stylesheet"/>
  <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
<div class="preloader"></div>
<div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="mx-auto text-center">
      <h1>Управлению Административными Зданиями - 70 лет!</h1>
    </div>

    <div class="container-fluid mx-auto text-center">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 col-15 mx-auto ">
                <div class="content mx-auto text-start news-text ">
                  <figure class="signleft pic_scale_anim">
                    <a href="/images/history_img/stolovaya_lenino.jpg" data-fancybox="images" data-caption="Столовая пионерского лагеря «Ленино» в с. Ленино Истринского района Московской области. 1964 г.
                    ЧУ «Центратомархив».">
                      <img src="/images/history_img/stolovaya_lenino.jpg" alt="Столовая пионерского лагеря «Ленино»" style="height:100%; max-height:500px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Столовая пионерского лагеря «Ленино» в с. Ленино Истринского <br>района Московской области. 1964 г.
                      ЧУ «Центратомархив».</figcaption>
                  </figure>
                  <p>4 апреля 2022 года исполнилось 70 лет со дня образования Управления административными зданиями Хозяйственного отдела
                    Первого главного управления при Совете Министров СССР.
                    Как и семьдесят лет назад, так и сегодня его преемник,
                    Акционерное общество «Управление административными зданиями», в число своих приоритетных задач включает управление нежилым фондом
                    Госкорпорации по атомной энергии «Росатом» и организаций атомной отрасли, организацию безаварийной эксплуатации, проведение планово- предупредительных,
                    текущих и капитальных ремонтов нежилых зданий и сооружений, их инженерных систем.
                  </p>
                  <p>Непосредственным предшественником Управления административными зданиями (краткое название – УАЗ) явилось Управление домами,
                    созданное в соответствии с приказом Первого главного управления при Совете Министров СССР (далее – ПГУ) от 14 февраля 1948 года № 511,
                    на которое было возложено заведывание жилищным хозяйством, находящимся в ведении ПГУ, и хозяйственное обслуживание всей площади служебных помещений.
                    Управление домами находилось в ведении Хозяйственного управления (краткое название – ХОЗУ ПГУ).
                  </p>
                  <figure class="signright  pic_scale_anim">
                    <a href="/images/history_img/klub_linino.jpg" data-fancybox="images" data-caption="Клуб пионерского лагеря «Ленино». 1964 г.
                      ЧУ «Центратомархив»">
                      <img src="/images/history_img/klub_linino.jpg" alt="Клуб пионерского лагеря «Ленино». 1964 г.ЧУ «Центратомархив»" style="width:100%;max-width:500px" class="img-fluid"/>
                    </a>
                    <figcaption>Клуб пионерского лагеря «Ленино». 1964 г.ЧУ «Центратомархив»</figcaption>
                  </figure>
                  <p>
                    18 февраля 1949 года для усиления режимных требований и мер по обеспечению секретности проводимых работ на объектах атомной
                    промышленности Первое главное управление при СМ СССР получило условное название «Главмосстрой СССР».
                    Приказом Главмосстроя СССР от 21 июля 1949 года № 73 «Об управлении зданиями» «в целях улучшения управления зданиями,
                    сооружениями, эксплуатацией оборудования и хозяйственным инвентарем, а также повышения ответственности за их сохранность»
                    Управлению домами ХОЗУ были безвозмездно переданы все здания, сооружения, оборудование и хозяйственный инвентарь по балансовым данным.<br>
                  </p>
                  <p>В 1949 году в структуру Управления домами ХОЗУ входили, помимо руководства и бухгалтерии, четыре сектора -снабжения, ремонтный,
                    сантехники и энергетики, а также комендантской службы. Кроме того, в ней числились две группы: пожарная и уборки (всего – 135 штатных единиц).
                    В ведение Управления постепенно переходили подсобные предприятия ХОЗУ. К концу 1949 года Управление домами ХОЗУ ведало тремя домоуправлениями,
                    двумя общежитиями и детским городком (впоследствии – оздоровительный лагерь «Ленино»), которые обслуживало 64 человека.
                  </p>
                  <figure class="signleft  pic_scale_anim">
                    <a href="/images/history_img/spalkorpus_lenino.jpg" data-fancybox="images" data-caption="Спальный корпус пионерского лагеря «Ленино». 1964 г. ЧУ «Центратомархив».">
                      <img src="/images/history_img/spalkorpus_lenino.jpg" alt="Спальный корпус пионерского лагеря «Ленино». 1964 г. ЧУ «Центратомархив»." style="height:100%; max-height:510px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Спальный корпус пионерского лагеря «Ленино». 1964 г. ЧУ «Центратомархив».</figcaption>
                  </figure>
                  <p>Обязанности и полномочия начальника Управления домами по мере расширения структуры и штата Управления и подсобных предприятий росли.
                    Приказанием ХОЗУ от 7 июля 1949 года № 1026, в целях упорядочения управления хозяйством служебных зданий,
                    на него была возложена ответственность за поддержание порядка, надлежащей противопожарной охраны в служебных зданиях, за учет,
                    использование и ремонт инвентаря, за состояние всего сантехнического оборудования, электрооборудования и электроосветительной сети зданий.
                  </p>
                  <p>1 декабря 1949 года постановлением СМ СССР № 5468-2082cc7 было признано целесообразным оставить в ПГУ только два управления,
                    а остальные подразделения иметь в виде отделов. Хозяйственное управление ПГУ было переименовано в Хозяйственный отдел ПГУ (краткое название – ХОЗО ПГУ).
                    Соответственно, Управление домами перешло в ведение ХОЗО ПГУ.
                  </p>
                  <p>Служебная и жилая площади, обслуживаемые Управлением домами, постепенно увеличивались.
                    К 1951 году Управлению домами подчинялись уже семь домоуправлений, а также общежитие и, по-прежнему, детский городок «Ленино».
                  </p>
                  <figure class="signright  pic_scale_anim">
                    <a href="/images/history_img/zavtrak_lenino.jpg" data-fancybox="images" data-caption="Завтрак в столовой пионерского лагеря «Ленино». 1964 г.
                      ЧУ «Центратомархив».">
                      <img src="/images/history_img/zavtrak_lenino.jpg" alt="Завтрак в столовой пионерского лагеря «Ленино»." style="height:100%; max-height:500px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Завтрак в столовой пионерского лагеря «Ленино». 1964 г.<br>ЧУ «Центратомархив».</figcaption>
                  </figure>

                  <p>В целях улучшения обслуживания служебных помещений центрального аппарата ПГУ и усиления руководства жилищно-коммунальным
                    хозяйством на основании приказа Главгорстроя СССР от 4 апреля 1952 года № 539 Управление домами ХОЗО было разделено на два Управления:
                    Управление административными зданиями и Управление жилищно-коммунальным хозяйством.
                  </p>
                  <p>В структуру Управления административными зданиями (УАЗ ХОЗО Главгорстроя СССР) на 1
                    июля 1952 года вошли семь подразделений (руководство, штаб МПВО, бухгалтерия, отдел снабжения, отдел энергетики,
                    отдел обслуживания, пожарная команда (всего – 111 штатных единиц10).
                  </p>
                  <p>Спустя год приказом Главгорстроя СССР от 15 мая 1953 года № 5311 Управление административными зданиями
                    ХОЗО Главмосстроя СССР было переименовано в Контору по управлению административными зданиями ХОЗО Главмосстроя
                    СССР (краткое название – КУАЗ ХОЗО Главгорстроя СССР).
                  </p>
                  <p>С образованием Министерства среднего машиностроения СССР (далее – МСМ СССР) постановлением СМ СССР от 1 июля 1953 года № 1658-656с12 и утверждением
                    его структуры13, Хозяйственный отдел был переименован в Хозяйственное управление (краткое название - ХОЗУ) МСМ СССР.
                    Контора по управлению административными зданиями в составе Отдела подсобных предприятий перешла в подчинение ХОЗУ МСМ СССР.
                  </p>
                  <figure class="signleft  pic_scale_anim">
                    <a href="/images/history_img/letn_smena1.jpg" data-fancybox="images" data-caption="Открытие летней смены пионерского лагеря «Ленино» 1968 г.
                      ЧУ «Центратомархив».">
                      <img src="/images/history_img/letn_smena1.jpg" alt="Открытие летней смены пионерского лагеря «Ленино» 1968 г. ЧУ «Центратомархив»." style="height:100%; max-height:270px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Открытие летней смены пионерского лагеря «Ленино» 1968 г.<br>ЧУ «Центратомархив».</figcaption>
                  </figure>

                  <p>Как уже отмечалось, главной задачей данной службы являлось управление административными зданиями.
                    Здание Министерства с 1953 года располагалось по адресу Старомонетный переулок, дом 26 (сегодня – здание № 2 Росатома).
                    Ранее на этом месте находилось административное здание Главпромстроя МВД CCCР14, к которому в 1951 году был пристроен
                    шестиэтажный корпус в стиле «сталинский ампир». А поскольку Постановлением СМ СССР от 16 марта 1953 г. № 697-355/оп
                    Главпромстрой МВД СССР был передан Первому главному управлению при СМ СССР15, то и здание перешло в его ведомство.
                  </p>

                  <p>В 1957 году на Большой Ордынке было построено тринадцатиэтажное здание МСМ СССР в стиле
                    советского монументального классицизма (сегодня - здание № 1 Росатома, дом 24).
                  </p>
                  <p>По состоянию на 4 сентября 1954 года штатная численность КУАЗ ХОЗУ составляла 18 человек16,
                    а обслуживающего персонала – 220 человек (на 8 января 1955 года17). Приходилось сравнительно небольшим количеством людей
                    обслуживать и содержать все имеющееся имущество, оборудование, инвентарь, а также квалифицированно и своевременно проводить
                    необходимые работы, в т.ч. и аварийные. Работа велась многогранная, для чего в штате имелось около 15 видов специалистов.
                  </p>
                  <figure class="signleft  pic_scale_anim">
                    <a href="/images/history_img/letn_smena2.jpg" data-fancybox="images" data-caption="Открытие летней смены пионерского лагеря «Ленино» 1968 г.
                      Знаменосцы и ассистенты. ЧУ «Центратомархив».">
                      <img src="/images/history_img/letn_smena2.jpg" alt="Открытие летней смены пионерского лагеря «Ленино» 1968 г." style="height:100%; max-height:270px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Открытие летней смены пионерского лагеря «Ленино» 1968 г.<br>Знаменосцы и ассистенты. ЧУ «Центратомархив».</figcaption>
                  </figure>

                  <p>Для обеспечения работы центрального аппарата Министерства в КУАЗ имелись хорошо организованные виды связи, энергохозяйство
                    (в т.ч. лифты, кондиционеры), большое и сложное сантехническое хозяйство, столярная мастерская, которая обеспечивала
                    ремонт всей находящейся в служебных помещениях мебели и частично изготовление новой мебели. Отдельное внимание уделялось
                    уборке помещений и прилегающей территории, озеленению.
                  </p>
                  <p>Регулярно проводилась подготовка к работе в зимних условиях, а весной – работа по вывозке снега.
                    Большое внимание уделялось противопожарной охране, особенно перед предстоящими праздниками.
                    Проводились проверки противопожарного состояния зданий, усиливалась охрана объектов, проводилась расчистка подвальных
                    и чердачных помещений, проверялись и приводились в полную готовность противопожарный инвентарь, электрооборудование и т.д.
                  </p>
                  <p>В 1965 году в штат КУАЗ была введена в качестве структурного подразделения Отдельная военизированная пожарная команда.
                    При этом была упразднена существовавшая на тот момент профессиональная пожарная охрана.
                  </p>
                  <figure class="signright  pic_scale_anim">
                    <a href="/images/history_img/adm_zdanie.jpg" data-fancybox="images" data-caption="Административное здание Главпромстроя МВД CCCР
                    до пристройки к нему шестиэтажного корпуса. 1951 г. ЧУ «Центратомархив».">
                      <img src="/images/history_img/adm_zdanie.jpg" alt="Административное здание Главпромстроя МВД CCCР" style="height:100%; max-height:500px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Административное здание Главпромстроя МВД CCCР</figcaption>
                  </figure>
                  <p>В 1971 году, в соответствии с приказом МСМ СССР от № 499 от 16 ноября 1971 года19,
                    Контора по управлению административными зданиями была вновь переименована в
                    Управление административными зданиями Хозяйственного управления МСМ СССР (краткое название – УАЗ
                    ХОЗУ МСМ СССР).
                  </p>
                  <p>В состав Управления на то время входили: административно-управленческий персонал,
                    бухгалтерия, комендантская служба, группа электронно-счетных, пишущих машин и малой оргтехники,
                    служба связи, группа кино-радио аппаратуры, служба энергетики, группа лифтового хозяйства, служба
                    сантехники, группа вентиляции, строительно-столярная мастерская, группа хранения и содержания
                    инвентаря,
                    группа материально-технического снабжения, а также ведомственная военизированная пожарная охрана.
                    Всего - 287 штатных единиц20.
                  </p>
                  <p>В 1989 году, «в связи с большим объемом работ по текущему и капитальному ремонту административных зданий,
                    сооружений, инвентаря и оборудования»21, в УАЗ был создан ремонтно-строительный участок.
                    Этот участок выполнял плановые капитальные ремонты отдельных конструкций обоих зданий,
                    необходимость которых назрела к началу 1990-х годов. В частности, в здании № 1 на Большой Ордынке заменялись входные двери,
                    проводились большие ремонты полов, окон и электроосвещения трех этажей. Кроме того, в кабинетах ремонтировалась и частично заменялась мебель.
                    Одновременно обновлялась оргтехника.
                  </p>
                  <figure class="signleft  pic_scale_anim">
                    <a href="/images/history_img/adm_zdanie2.jpg" data-fancybox="images" data-caption="Административное здание Главпромстроя МВД CCCР
                    до пристройки к нему шестиэтажного корпуса. 1951 г. ЧУ «Центратомархив».">
                      <img src="/images/history_img/adm_zdanie2.jpg" alt="Административное здание Главпромстроя МВД CCCР" style="height:100%; max-height:300px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Административное здание Главпромстроя МВД CCCР</figcaption>
                  </figure>
                  <p>В том же 1989 году был введен в эксплуатацию корпус базы труда и отдыха «Восток», которая вошла в структуру УАЗ.
                    Нельзя не упомянуть тот факт, что помимо трудовой деятельности, сотрудники коллектива УАЗ, как и все работники Министерства,
                    уже в те годы имели возможность отдыхать в ведомственных санаториях и домах отдыха, в том числе и в знаменитой «Опалихе».
                    С 1987 года «Опалиха» стала профилакторием, куда по направлениям участковых терапевтов после работы приезжали сотрудники Министерства.
                    В профилактории проводились оздоровительные процедуры, лечебный массаж, водолечебная терапия, кислородные коктейли, баня-сауна.
                    Пациентам предлагалось диетическое питание. Силами сотрудников УАЗ проводились ремонты главного корпуса, реконструировалось инженерное хозяйство,
                    обустраивалась территория.
                  </p>
                  <p>Дети сотрудников любили отдыхать в знаменитом ведомственном пионерском лагере «Ленино».
                    Каждый год сотрудники Управления подготавливали лагерь к очередной смене:
                    готовили корпуса, убирали территорию, приводили в порядок столовую.
                  </p>

                  <p>Отдельные коллективы Управления организованно выезжали на экскурсии по местам боевой и трудовой славы в разные города СССР.
                    Очень популярны были в то время поездки в ближнее Подмосковье за грибами.
                    Многие сотрудники пользовались профсоюзными путевками в дома отдыха, санатории и профилактории.
                    Особенно организованно проводились вечера, посвященные общесоюзным праздникам: 9 мая, Новый год, 8 марта.
                  </p>
                  <p>Как и многие ведомства в те годы, Управление регулярно направляло сотрудников в подшефный совхоз «Горский»
                    Озерского района Московской области для выполнения не только полевых (прополка, заготовка и погрузка овощей, сенокос, сушка и уборка сена),
                    но и других работ (небольшое строительство и ремонт существующих помещений, работа на пилораме и проч.).
                  </p>
                  <figure class="signright  pic_scale_anim">
                    <a href="/images/history_img/efim_slavskiy.jpg" data-fancybox="images" data-caption="Министр Славский Ефим Павлович на отдыхе. 1970-е годы.
                    ЧУ «Центратомархив».">
                      <img src="/images/history_img/efim_slavskiy.jpg" alt="Министр Славский Ефим Павлович на отдыхе. 1970-е годы." style="height:100%; max-height:200px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Министр Славский Ефим Павлович на отдыхе. 1970-е годы.</figcaption>
                  </figure>
                  <p>С образованием в 1992 году Министерства Российской Федерации по атомной энергии (краткое название - Минатом России),
                    подведомственность Управления изменилась: оно стало подчиняться Управлению делами. А уже в 1993 году, в связи с изменением
                    в структуре центрального аппарата Министерства, Управление административными зданиями Минатома России перешло в подчинение
                    Главного социально-производственного управления, которое в 1996 году было реорганизовано в Социально-производственное управление.
                  </p>

                  <p>Приказом Управления делами от 6 мая 1993 года № 37, в целях совершенствования телефонной и другой
                    связи в зданиях № 1 и 2 Министерства и упорядочения расчетов за услуги, цех связи УАЗ был переведен
                    на полный хозяйственный расчет и переименован в узел связи Управления делами Минатома РФ23. В следующем году
                    узел связи был переименован в «Связь-Атом»24, а в 1994 году приказом Минатома России от 13 мая 1994 года № 192 - в Государственное предприятие «Связь –Атом»25 .
                  </p>
                  <p>В 1994 году, в связи с приведением организационно-правовой формы Управления административными
                    зданиями в соответствие с Законом РСФСР «О предприятиях и предпринимательской деятельности», приказом
                    Минатома России от 18 мая № 197 Управление было реорганизовано в Государственное предприятие «Управление
                    административными зданиями» (краткое название - ГП «УАЗ»).
                  </p>
                  <figure class="signleft  pic_scale_anim">
                    <a href="/images/history_img/korpus_lenino.jpg" data-fancybox="images" data-caption="Министр Славский Ефим Павлович на отдыхе. 1970-е годы.
                    ЧУ «Центратомархив».">
                      <img src="/images/history_img/korpus_lenino.jpg" alt="Корпус пионерского лагеря «Ленино». 1972 г." style="height:100%; max-height:500px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Корпус пионерского лагеря «Ленино». 1972 г.<br>ЧУ «Центратомархив».</figcaption>
                  </figure>
                  <p>Согласно уставу, ГП «УАЗ» осуществляло следующие виды деятельности: качественная уборка помещений,
                    отопление и освещение помещений; подключение и ремонт оргтехники (пишущих машин, калькуляторов, компьютеров);
                    обеспечение постоянной работы систем водоснабжения и канализации (а также оборотного водоснабжения), работы систем приточной и
                    вытяжной вентиляции и кондиционирования воздуха, постоянной работы вертикального транспорта (лифтов); пошив и ремонт драпировочных
                    изделий (шторы, занавески); текущий и капитальный ремонт мягкой мебели; обеспечение и совершенствование системы пожаротушения и
                    осуществление постоянного контроля за содержанием помещений в противопожарном состоянии. Кроме того, постоянно выполнялись все виды
                    профилактических работ, а также осуществлялся текущий и капитальный ремонт всего имеющегося оборудования, помещений и зданий.
                  </p>
                  <p>Для выполнения всех этих задач был сформирован штат из 325 человек, которые были распределены
                    по 14 подразделениям, значительную часть которых составляли цеха - по эксплуатации и ремонту оборудования,
                    энергетического хозяйства, сантехнического оборудования и др.
                  </p>
                  <figure class="signright  pic_scale_anim">
                    <a href="/images/history_img/korpus_lenino2.jpg" data-fancybox="images" data-caption="Министр Славский Ефим Павлович на отдыхе. 1970-е годы.
                    ЧУ «Центратомархив».">
                      <img src="/images/history_img/korpus_lenino2.jpg" alt="Корпус пионерского лагеря «Ленино». 1972 г." style="height:100%; max-height:500px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Корпус пионерского лагеря «Ленино». 1972 г.<br>ЧУ «Центратомархив».</figcaption>
                  </figure>
                  <p>В декабре 1997 года в положении о ГП «УАЗ» было
                    отмечено новое направление деятельности - обслуживание спецсвязью хозрасчетных структур отрасли. Данную задачу
                    выполняло новое подразделение ГП УАЗ, включенное в его структуру с 1 января 1997 года, а именно – служба оперативной информации.
                  </p>
                  <p>Таким образом, к концу тяжелых для всей страны 1990-х годов ГП «УАЗ» проявило способность к
                    выживанию в очень сложной обстановке. У него сформировалась отличная база для содержания автотранспорта,
                    электро - и сантехническое хозяйство, ремонтная группа и обширная хозяйственная структура.
                    Оно производило ремонт помещений, стояков, электрооборудования, имело пошивочное и стиральное отделения.
                  </p>
                  <p>В 2003 году Государственное предприятие «Управление административными зданиями» было реорганизовано в Федеральное
                    государственное унитарное предприятие «Управление административными зданиями» Министерства Российской Федерации
                    по атомной энергии (краткое название - ФГУП «УАЗ» Минатома России).
                  </p>

                  <p>В июле 2003 года был утвержден устав ФГУП «УАЗ» Минатома России. В нем отмечалось,
                    что отныне предприятие является коммерческой организацией, которая создана «…в целях удовлетворения
                    общественных потребностей в результатах его деятельности и получения прибыли».
                  </p>
                  <figure class="signright  pic_scale_anim">
                    <a href="/images/history_img/korpus_lenino3.jpg" data-fancybox="images" data-caption="Министр Славский Ефим Павлович на отдыхе. 1970-е годы.
                    ЧУ «Центратомархив».">
                      <img src="/images/history_img/korpus_lenino3.jpg" alt="Корпус пионерского лагеря «Ленино». 1972 г." style="height:100%; max-height:500px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Корпус пионерского лагеря «Ленино». 1972 г.<br>ЧУ «Центратомархив».</figcaption>
                  </figure>
                  <p>В 2005 году в структуру ФГУП «УАЗ» была включена группа по копированию служебной документации,
                    а также отдел доставки корреспонденции, а в 2007 году появился планово-договорной отдел.
                  </p>
                  <p>В декабре 2007 года, с созданием Государственной корпорации по атомной энергии «Росатом»,
                    Управление вошло в ее контур подчинения, в связи с чем приказом Госкорпорации «Росатом» от 22 мая 2008 года № 121 из его
                    названия было исключена прежняя подведомственность. ФГУП «УАЗ» Министерства Российской Федерации по атомной энергии был переименован
                    в Федеральное государственное унитарное предприятие «Управление административными зданиями» (краткое название - ФГУП «УАЗ»).
                  </p>
                  <p>В соответствии с уставом, сфера деятельности ФГУП «УАЗ» по сравнению с 2003 годом значительно расширилась.
                    Добавился целый блок работ, в том числе техническое обслуживание и ремонт слаботочных систем здания (теле- и радиокоммуникации),
                    систем оповещения и эвакуации людей; выполнение функций Заказчика, Генподрядчика при проведении текущего, капитального ремонтов и
                    реконструкции помещений; обеспечение технадзора за проведением строительных и ремонтных работ; оказание такелажных услуг; выполнение
                    строительно-монтажных и ремонтных работ сторонним организациям и частным лицам; сдача помещений в аренду по согласованию с Госкорпорацией
                    «Росатом»; посредническая, торгово- закупочная и снабженческо-бытовая деятельность; проведение выставок и презентаций и другие виды деятельности,
                    направленные на выполнение задач по техническому обслуживанию и эксплуатации зданий и сооружений.
                  </p>
                  <figure class="signleft  pic_scale_anim">
                    <a href="/images/history_img/korpus_lenino4.jpg" data-fancybox="images" data-caption="Министр Славский Ефим Павлович на отдыхе. 1970-е годы.
                    ЧУ «Центратомархив».">
                      <img src="/images/history_img/korpus_lenino4.jpg" alt="Корпус пионерского лагеря «Ленино». 1972 г." style="height:100%; max-height:470px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Корпус пионерского лагеря «Ленино». 1972 г.<br>ЧУ «Центратомархив».</figcaption>
                  </figure>
                  <p>В связи с изменением и расширением сферы деятельности, в структуре ФГУП «УАЗ» продолжали происходить изменения.
                    В 2009 году вместо цехов, существовавших прежде, начали создаваться службы36. В 2012 году наиболее крупными подразделениями
                    были следующие: администрация, служба эксплуатации зданий, финансово-экономическая служба, служба ремонтно-строительных работ,
                    служба пожарной безопасности и охраны труда, административная служба, служба ГО и ЧС37. Службы делились на отделы и группы.
                    Всего на январь 2012 года штат ФГУП «УАЗ» составлял 245 человек.
                  </p>
                  <p>Несколько лет, с июля 2012 года по август 2015 года, в составе ФГУП «УАЗ» работал филиал в
                    Нижегородской области (поселок Сатис Дивеевского района), созданный «в связи с необходимостью
                    совершенствования организационной структуры, вызванной расширением предприятия, и в целях реализации услуг на территории Нижегородской области».
                  </p>
                  <p>С августа 2012 года начался процесс приватизации ФГУП «УАЗ». В декабре 2013 года ФГУП «УАЗ»
                    был преобразован в Открытое акционерное общество «Управление административными зданиями» (краткое название – ОАО «УАЗ»).
                  </p>
                  <figure class="signright  pic_scale_anim">
                    <a href="/images/history_img/korpus_lenino5.jpg" data-fancybox="images" data-caption="Министр Славский Ефим Павлович на отдыхе. 1970-е годы.
                    ЧУ «Центратомархив».">
                      <img src="/images/history_img/korpus_lenino5.jpg" alt="Корпус пионерского лагеря «Ленино». 1972 г." style="height:100%; max-height:500px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Корпус пионерского лагеря «Ленино». 1972 г.<br>ЧУ «Центратомархив».</figcaption>
                  </figure>
                  <p>Структура «УАЗ» с созданием ОАО и расширением функций также претерпевала соответствующие изменения.
                    Вместо служб в ней появились сначала департаменты, а затем и управления. Так, по состоянию на 1 января 2014 года,
                    в его структуру, помимо администрации, входило пять департаментов и филиал ОАО «УАЗ» в поселке Сатис (всего 277 штатных единиц).
                  </p>
                  <p>В конце 2014 года ОАО «УАЗ» начало процедуру реорганизации путем присоединения ОАО «Комбинат питания».
                    Решением единственного акционера от 23 декабря 2014 года № 2 был утвержден устав АО «УАЗ», содержащий новое
                    фирменное наименование - Акционерное общество «Управление административными зданиями» (краткое название - АО «УАЗ»).
                    АО «УАЗ» является управляющей компанией, осуществляющей строительство, эксплуатацию, реконструкцию объектов недвижимости.
                    Выполняет подготовку технико- экономических обоснований инвестиционных проектов, функции заказчика- застройщика и генерального
                    подрядчика по сооружению объектов капитального строительства, осуществляет техническое сопровождение проектов, сдачу объектов в
                    эксплуатацию, оформляет имущественно-правовые отношения на объекты недвижимого имущества и земельные участки.
                  </p>
                  <figure class="signleft  pic_scale_anim">
                    <a href="/images/history_img/korpus_lenino6.jpg" data-fancybox="images" data-caption="Министр Славский Ефим Павлович на отдыхе. 1970-е годы.
                    ЧУ «Центратомархив».">
                      <img src="/images/history_img/korpus_lenino6.jpg" alt="Корпус пионерского лагеря «Ленино». 1972 г." style="height:100%; max-height:285px; border-radius: 8px" class="img-fluid"/>
                    </a>
                    <figcaption>Корпус пионерского лагеря «Ленино». 1972 г.<br>ЧУ «Центратомархив».</figcaption>
                  </figure>
                  <p>На 2018 год в структуру АО «УАЗ» входили следующие основные подразделения: администрация, управление
                    персоналом и административными вопросами, отдел правовой и корпоративной работы, департамент строительства,
                    департамент эксплуатации, департамент финансов и экономики, отдел обеспечения сервисов ГК, управление организации
                    закупок и контроля за исполнением договоров.
                  </p>
                  <p>Сегодня Акционерное общество «Управление административными зданиями» является предприятием, входящим в контур управления
                    Государственной корпорации по атомной энергии «Росатом» (далее – Госкорпорация «Росатом»).
                  </p>
                  <p>Основными его целями является извлечение прибыли, а также удовлетворение потребностей Госкорпорации «Росатом»
                    и организаций атомной отрасли в вопросах безаварийной эксплуатации, технического обслуживания и поддержания в
                    работоспособном состоянии нежилых зданий и сооружений и находящихся в них инженерных систем.
                  </p>

                  <div class="row mt-hist">
                    <div class="col-lg-6 col-md-6 col-sm-15 col-15 mx-auto ">
                      <figure class="signcenter pic_scale_anim">
                        <a href="/images/history_img/lebedev_v_f.jpg" data-fancybox="persons" data-caption="Лебедев Василий Федорович ЧУ «Центратомархив».">
                          <img src="/images/history_img/lebedev_v_f.jpg" alt="Лебедев Василий Федорович ЧУ «Центратомархив»." style="height:100%; max-height:250px; border-radius: 8px" class="img-fluid"/>
                        </a>
                        <figcaption>Лебедев Василий Федорович ЧУ «Центратомархив». </figcaption>
                      </figure>
                      <p>Окончил рабфак им В.И. Ленина, Московский инженерно-строительный институт имени В.В. Куйбышева.
                        Из характеристики в личном деле: «к работе относится добросовестно, трудолюбив, дело свое знает хорошо».
                        За успешное выполнение спецзадания Правительства награжден Орденом «Знак Почета».
                      </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-15 mx-auto ">
                      <figure class="signcenter pic_scale_anim">
                        <a href="/images/history_img/aleksandrov_a_g.jpg" data-fancybox="persons" data-caption="Александров Андрей Георгиевич ЧУ «Центратомархив».">
                          <img src="/images/history_img/aleksandrov_a_g.jpg" alt="Александров Андрей Георгиевич ЧУ «Центратомархив»." style="height:100%; max-height:250px; border-radius: 8px" class="img-fluid"/>
                        </a>
                        <figcaption>Александров Андрей Георгиевич ЧУ «Центратомархив».</figcaption>
                      </figure>
                      <p>Из характеристики в личном деле: «Исполнительный добросовестный работник,
                        хорошо знающий хозяйственно-эксплуатационную работу. В работе инициативен,
                        требователен к себе и подчиненным».
                      </p>
                    </div>
                  </div>

                  <div class="row gy-3">
                    <div class="col-lg-6 col-md-6 col-sm-15 col-15 mx-auto ">
                      <figure class="signcenter pic_scale_anim">
                        <a href="/images/history_img/podduvalov_m_n.jpg" data-fancybox="persons" data-caption="Поддувалов Михаил Николаевич ЧУ «Центратомархив».">
                          <img src="/images/history_img/podduvalov_m_n.jpg" alt="Поддувалов Михаил Николаевич ЧУ «Центратомархив»." style="height:100%; max-height:250px; border-radius: 8px" class="img-fluid"/>
                        </a>
                        <figcaption>Поддувалов Михаил Николаевич ЧУ «Центратомархив».</figcaption>
                      </figure>
                      <p>Техник-строитель. В 1937-1939 годы возглавлял отряд Московского аэро-геодезического предприятия
                        Главного Управления Государственной Съемки и Картографии при СНК СССР.В 1939-1947 годы служил в Советской армии.
                        Окончил Московский лесотехнический институт. Инженер-механик.
                      </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-15 mx-auto ">
                      <figure class="signcenter pic_scale_anim">
                        <a href="/images/history_img/pankov_n_d.jpg" data-fancybox="persons" data-caption="Панков Николай Дмитриевич ЧУ «Центратомархив».">
                          <img src="/images/history_img/pankov_n_d.jpg" alt="Панков Николай Дмитриевич ЧУ «Центратомархив»." style="height:100%; max-height:250px; border-radius: 8px" class="img-fluid"/>
                        </a>
                        <figcaption>Панков Николай Дмитриевич ЧУ «Центратомархив».</figcaption>
                      </figure>
                      <p>Окончил Центральную школу ОГПУ, Высшую партийную школу ОГПУ.
                        Заслуженный мастер спорта СССР. Из характеристики в личном деле: показал себя работником,
                        «в совершенстве знающего и любящего спортивную и физкультурно- массовую работу.., имеет хорошие организаторские способности.
                        Политически грамотен и повышает свой идейно-политический и культурный уровень.., пользуется заслуженным авторитетом».
                      </p>
                    </div>
                  </div>

                  <div class="row gy-3">
                    <div class="col-lg-6 col-md-6 col-sm-15 col-15 mx-auto ">
                      <figure class="signcenter pic_scale_anim">
                        <a href="/images/history_img/aleksandrovskiy_b_a.jpg" data-fancybox="persons" data-caption="Александровский Борис Андреевич ЧУ «Центратомархив».">
                          <img src="/images/history_img/aleksandrovskiy_b_a.jpg" alt="Александровский Борис Андреевич ЧУ «Центратомархив»." style="height:100%; max-height:250px; border-radius: 8px" class="img-fluid"/>
                        </a>
                        <figcaption>Александровский Борис Андреевич ЧУ «Центратомархив».</figcaption>
                      </figure>
                      <p>Окончил Тамбовское военно-пехотное училище. Прошел всю Великую отечественную войну.
                        Трижды ранен. Командовал ротой, служил помощником начальника штаба полка. Награжден Орденом Красной Звезды,
                        медалями «За боевые заслуги», «За взятие Берлина», «За победу над Германией». Окончил Высшие счетно- экономические курсы,
                        Московский областной политехникум. Из характеристики в личном деле: «За время работы… проявил себя высококвалифицированным,
                        хорошо разбирающимся специалистом в строительных, сантехнических материалах и металлах.
                      </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-15 mx-auto ">
                      <figure class="signcenter pic_scale_anim">
                        <a href="/images/history_img/kabanov_a_t.jpg" data-fancybox="persons" data-caption="Кабанов Анатолий Тимофеевич ЧУ «Центратомархив».">
                          <img src="/images/history_img/kabanov_a_t.jpg" alt="Кабанов Анатолий Тимофеевич ЧУ «Центратомархив»." style="height:100%; max-height:250px; border-radius: 8px" class="img-fluid"/>
                        </a>
                        <figcaption>Кабанов Анатолий Тимофеевич ЧУ «Центратомархив».</figcaption>
                      </figure>
                      <p>Из характеристики в личном деле: «проявил себя высококвалифицированным, хорошо
                        разбирающимся специалистом в строительстве…, дисциплинирован, к служебным обязанностям относится добросовестно…».
                        В трудных условиях работы 1990-х годов сохранил сплоченный трудовой коллектив, способный решать и выполнять
                        поставленные перед ним производственные задачи. За высокие производственные показатели и организаторские способности,
                        умение находить правильные технические решения, а также внесение значительного вклада в развитие атомной промышленности
                        был награжден медалью «За трудовое отличие» и «Орденом Почета» за заслуги перед отечеством II степени.
                      </p>
                    </div>
                  </div>

                  <div class="row gy-3">
                    <div class="col-lg-6 col-md-6 col-sm-15 col-15 mx-auto ">
                      <figure class="signcenter pic_scale_anim">
                        <a href="/images/history_img/nikulin_v_m.jpg" data-fancybox="persons" data-caption="Никулин Виктор Михайлович. ">
                          <img src="/images/history_img/nikulin_v_m.jpg" alt="Никулин Виктор Михайлович. " style="height:100%; max-height:250px; border-radius: 8px" class="img-fluid"/>
                        </a>
                        <figcaption>Никулин Виктор Михайлович. </figcaption>
                      </figure>
                      <p>Окончил Всесоюзный заочный инженерно-строительный институт. Инженер- экономист.
                        За время работы на различных должностях атомной отрасли Виктор Михайлович зарекомендовал
                        себя грамотным и инициативным специалистом и руководителем. Лично руководил проектом
                        реконструкции зданий центрального аппарата. Будучи хорошими организатором, руководил
                        переходом Управления на коммерческую основу. Отличался принципиальностью и заботой о людях.
                      </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-15 mx-auto ">
                      <figure class="signcenter pic_scale_anim">
                        <a href="/images/history_img/puganov_s_a.jpg" data-fancybox="persons" data-caption="Пуганов Сергей Александрович. ">
                          <img src="/images/history_img/puganov_s_a.jpg" alt="Пуганов Сергей Александрович. " style="height:100%; max-height:250px; border-radius: 8px" class="img-fluid"/>
                        </a>
                        <figcaption>Пуганов Сергей Александрович. </figcaption>
                      </figure>
                      <p>Закончил Московский инженерно-строительный институт, вечерний факультет
                        Московского государственного педагогического института иностранных языков имени
                        Мориса Тореза, Высшую партийную школу. В период его руководства сфера
                        деятельности ФГУП «УАЗ» существенно расширилась, добавился целый блок работ.
                      </p>
                    </div>
                  </div>

                  <div class="row gy-3">
                    <div class="col-lg-6 col-md-6 col-sm-15 col-15 mx-auto ">
                      <figure class="signcenter pic_scale_anim">
                        <a href="/images/history_img/zhadushkin_v_n.jpg" data-fancybox="persons" data-caption="Жадушкин Вячеслав Николаевич. ">
                          <img src="/images/history_img/zhadushkin_v_n.jpg" alt="Жадушкин Вячеслав Николаевич. " style="height:100%; max-height:250px; border-radius: 8px" class="img-fluid"/>
                        </a>
                        <figcaption>Жадушкин Вячеслав Николаевич. </figcaption>
                      </figure>
                      <p>Закончил Камышинское высшее военное строительное командное училище,
                        Ленинградское высшее военно-инженерное строительное Краснознаменное училище.
                        Руководил Предприятием в период его приватизации и преобразования в ОАО, а затем – в АО «УАЗ».
                      </p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-15 mx-auto "></div>
                  </div>
              </div>
            </div>
          </div>
      </div>
</div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/fancybox-3.0/dist/jquery-3.6.4.min.js"></script>
<script src="/fancybox-3.0/dist/jquery.fancybox.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
