<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Andrew Shcherbakov">
  <title>УАЗ Росатом</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/StyleSheets/style.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="/images/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
  <div id="carouselExampleCaptions" class="carousel slide border-bottom"  data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner normal-text" >
      <a th:href="@{/projects/ordinka}" class="carousel-item active">
        <img src="/images/carousel_img/ordinka.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption cartext-decor">
          <h>Большая Ордынка</h>
        </div>
      </a>
      <a th:href="@{/projects/kitay}" class="carousel-item">
        <img src="/images/carousel_img/kitay.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption cartext-decor">
          <h>Китайгородский проезд</h>
        </div>
      </a>
      <a th:href="@{/projects/monetka}" class="carousel-item">
        <img src="/images/carousel_img/monetka.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption cartext-decor">
          <h>Старомонетный переулок</h>
        </div>
      </a>
      <a th:href="@{/projects/vdnh}" class="carousel-item">
        <img src="/images/carousel_img/vdnh.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption cartext-decor">
          <h>Павильон №19. «Атом»</h>
        </div>
      </a>
    </div>
  </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>


</body>
</html>
