<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Andrew Shcherbakov">
  <title>УАЗ Росатом</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/StyleSheets/style.css" rel="stylesheet"/>
  <link href="/StyleSheets/style_carousel.css" rel="stylesheet"/>
  <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
  <div id="carouselUazPresent" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" data-bs-pause="false">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselUazPresent" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselUazPresent" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselUazPresent" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselUazPresent" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner normal-text" >
      <a th:href="@{/projects/exploitation/ordinka}" class="carousel-item active">
        <img src="/images/carousel_img/ordinka.jpg" alt="...">
        <div class="carousel-caption carousel_text">
          <h2>Главное здание Госкорпорации «Росатом»</h2>
        </div>
      </a>
      <a th:href="@{/projects/exploitation/vdnh}" class="carousel-item">
        <img src="/images/carousel_img/vdnh.jpg" alt="...">
        <div class="carousel-caption carousel_text">
          <h2>Павильон №19. «Атом»</h2>
        </div>
      </a>
      <a th:href="@{/projects/exploitation/sport}" class="carousel-item">
        <img src="/images/carousel_img/sport.jpg"alt="...">
        <div class="carousel-caption carousel_text">
          <h2>Спортивный зал на Большой Ордынке</h2>
        </div>
      </a>
      <a th:href="@{/projects/exploitation/hall}" class="carousel-item">
        <img src="/images/carousel_img/hall.jpg" alt="...">
        <div class="carousel-caption carousel_text">
          <h2>Холл в главном здании Госкорпорации</h2>
        </div>
      </a>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselUazPresent" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselUazPresent" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

  <script src="/js/jquery-3.7.1.js"></script>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>


</body>
</html>
