<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrew Shcherbakov">
    <title>О Комании</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/fancybox-3.0/dist/jquery.fancybox.min.css" />
    <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
    <div class="preloader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">

        <div class="container_squares">
            <a href="/images/licenses/Atom_license03-101.jpg" data-fancybox="Atom_license03-101" class="container_square_licenses news_decor" style="color:black; text-decoration: none; z-index: 4">
                <div class="card_title_licenses_content">
                    <h1 class="">Атомная лицензия 03-101</h1>
                </div>
                <div class="licenses_card_img img-shadow">
                    <img src="/images/licenses/Atom_license03-101.jpg" alt="">
                </div>
            </a>

            <a href="/images/licenses/Atom_license03-115.jpg" data-fancybox="Atom_license03-115" class="container_square_licenses news_decor" style="color:black; text-decoration: none; z-index: 4">
                <div class="card_title_licenses_content">
                    <h1 class="">Атомная Лицензия 01-115</h1>
                </div>
                <div class="licenses_card_img img-shadow">
                    <img src="/images/licenses/Atom_license03-115.jpg" alt="">
                </div>
            </a>

            <a href="/images/licenses/License_FSB1.jpg" data-fancybox="License_FSB" class="container_square_licenses news_decor" style="color:black; text-decoration: none; z-index: 4">
                <div class="card_title_licenses_content">
                    <h1 class="">Лицензия ФСБ России</h1>
                </div>
                <div class="licenses_card_img img-shadow">
                    <img src="/images/licenses/License_FSB1.jpg" alt="">
                </div>
            </a>
            <div class="hidden">
                <a data-fancybox="License_FSB" href="images/licenses/License_FSB2.jpg"></a>
            </div>

            <a href="/images/licenses/LicenseMCHS2020-20211.jpg" data-fancybox="LicenseMCHS2020" class="container_square_licenses news_decor" style="color:black; text-decoration: none;">
                <div class="card_title_licenses_content">
                    <h1 class="">Лицензия МЧС 2020-2021</h1>
                </div>
                <div class="licenses_card_img img-shadow">
                    <img src="/images/licenses/LicenseMCHS2020-20211.jpg" alt="">
                </div>
            </a>
            <div class="hidden">
                <a data-fancybox="LicenseMCHS2020" href="images/licenses/LicenseMCHS2020-20212.jpg"></a>
            </div>

            <a href="/images/licenses/LicenseMCHS_HORS1.jpg" data-fancybox="LicenseMCHSHORS" class="container_square_licenses news_decor" style="color:black; text-decoration: none;">
                <div class="card_title_licenses_content">
                    <h1 class="">Лицензия МЧС OOO "ХОРС"</h1>
                </div>
                <div class="licenses_card_img img-shadow">
                    <img src="/images/licenses/LicenseMCHS_HORS1.jpg" alt="">
                </div>
            </a>
            <div class="hidden">
                <a data-fancybox="LicenseMCHSHORS" href="images/licenses/LicenseMCHS_HORS2.jpg"></a>
            </div>

            <a href="/images/licenses/MincultRu1.jpg" data-fancybox="MincultRu" class="container_square_licenses news_decor" style="color:black; text-decoration: none;">
                <div class="card_title_licenses_content">
                    <h1 class="">Лицензия Минкульт РФ</h1>
                </div>
                <div class="licenses_card_img img-shadow">
                    <img src="/images/licenses/MincultRu1.jpg" alt="">
                </div>
            </a>
            <div class="hidden">
                <a data-fancybox="MincultRu" href="images/licenses/MincultRu2.jpg"></a>
            </div>
        </div>
    </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/fancybox-3.0/dist/jquery-3.6.4.min.js"></script>
<script src="/fancybox-3.0/dist/jquery.fancybox.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
