<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Andrew Shcherbakov">
  <title>Новости</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_cards.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
  <div class="preloader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">

      <div class="mx-auto text-center">
          <h1>Новости АО "УАЗ"</h1>
      </div>

      <div class="container_long_squares">
          <a th:action="@{/addPost}" method="get">
              <div class="current_news container_long_square news_decor" th:each="el:${posts}">
                  <label  class="post_id hidden" th:text="${el.getId}"></label>
                  <div class="card_long_title_content">
                      <h2 th:utext="${el.getTitle}"></h2>
                      <p th:utext="${el.getShort_content}"></p>
                  </div>
                  <div class="card_long_img">
                      <img  th:src="${'data:image/jpeg;base64,'+el.getTitle_image}" alt="" >
                  </div>
              </div>
          </a>
      </div>
      <a th:href="@{/addPost}" class="btn btn-primary mb-3">Добавить статью</a>

  </div>  
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/script_post_add.js"></script>


  </body>
</html>
