<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Andrew Shcherbakov">
  <title>Поставщикам</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
  <link rel="shortcut icon" href="/images/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
  <div class="animate-bottom">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center border-bottom border-3 mb-5">
      <h3 class="display-4 head_font">Поставщикам</h3>
    </div>

    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                    <p>
                      С 1 января 2013 года при закупке товаров, работ, услуг
                      АО «УАЗ» руководствуются Федеральным законом от 18.07.2011 № 223-ФЗ «О закупках товаров, работ, услуг отдельными видами юридических лиц»
                      и Единым отраслевым стандартом закупок (Положение о закупке) Государственной корпорации по атомной энергии «Росатом», утвержденным решением
                      наблюдательного совета Госкорпорации «Росатом» от 07.02.2012 № 37».
                      Официальным сайтом АО «УАЗ» для размещения информации в рамках исполнения Федерального закона № 223-ФЗ является официальный
                        государственный сайт <a href="https://zakupki.gov.ru" target="_blank">zakupki.gov.ru</a>, а также информация о размещении заказов на закупки
                        товаров, работ и услуг для нужд Госкорпорации «Росатом», размещается по адресу <a href="http://www.zakupki.rosatom.ru" target="_blank">http://www.zakupki.rosatom.ru</a>.</p>
                    </p>
                    <div class="container-fluid py-3 text-start">
                      <div class="p-2"><a class="link align-items-start mx-md-3 blue normal-text" target="_blank" href="https://zakupki.rosatom.ru/?node=news">1. Новости</a></div>
                      <div class="p-2"><a class="link align-items-start mx-md-3 blue normal-text" target="_blank" href="https://zakupki.rosatom.ru/Web.aspx?node=currentorders&ostate=P">2. Закупки</a></div>
                      <div class="p-2"><a class="link align-items-start mx-md-3 blue normal-text" target="_blank" href="https://zakupki.rosatom.ru/Web.aspx?node=af23">3. Документы</a></div>
                      <div class="p-2"><a class="link align-items-start mx-md-3 blue normal-text" target="_blank" href="https://zakupki.rosatom.ru/Web.aspx?node=gpzz">4. Годовая программа закупок атомной отрасли</a></div>
                      <div class="p-2"><a class="link align-items-start mx-md-3 blue normal-text" target="_blank" href="https://zakupki.rosatom.ru/Web.aspx?node=af33">5. Контроль и арбитраж</a></div>
                      <div class="p-2"><a class="link align-items-start mx-md-3 blue normal-text" target="_blank" href="https://zakupki.rosatom.ru/Web.aspx?node=af41">6. Обучение</a></div>
                      <div class="p-2"><a class="link align-items-start mx-md-3 blue normal-text" target="_blank" href="https://zakupki.rosatom.ru/Web.aspx?node=eltorgi">7. Электронные закупки</a></div>
                      <div class="p-2"><a class="link align-items-start mx-md-3 blue normal-text" target="_blank" href="https://zakupki.rosatom.ru/Web.aspx?node=contacts">8. Контакты</a></div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
