<div th:fragment="footer">
    <footer class="container-fluid py-5 bg-light border-top border-bottom w-auto">
        <div class="row me-footer container-size">
            <div class="col-6 col-md me-bot">
                <h5>Объекты</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="projects.html">Обслуживание зданий</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Медиацентр</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="media/media1PAGE/media1PAGE.html">Новости АО "УАЗ"</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Вакансии</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="vacancies.html">Для кандидатов</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Поставщикам</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="providers.html">Единые закупки</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>История</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="history.html">УАЗ 75 лет</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <footer class="container-fluid bg-light border-top w-auto">
        <div class="row me-footer">
            <div class="col-6 col-md me-bot">
                <ul class="list-unstyled text-small my-1">
                    <li><img src="images/znak.jpg" height="17" width="17" class="img-fluid">
                        2023 АО "УАЗ"</li>
                </ul>
            </div>
    </footer>
</div>