<div th:fragment="header">
    <header class="navbar navbar-expand-lg d-flex justify-content-center py-1 nav_border">
        <div class="container-fluid d-flex flex-wrap">
            <a th:href="@{/}" class="d-flex justify-content-start headlogo mb-lg-0 ms-sm-5">
                <div><img src="/images/Logo.svg" height="60" width="60" class="img-fluid anim_logo" alt=""></div>
                <div><img src="/images/Name.svg" height="60" width="150" class="img-fluid" alt=""></div>
            </a>
            <div class="navbar navbar-expand-xl mx-auto d-flex justify-content-end me-1 animate-top">
                <div class="collapse navbar-collapse" >
                    <div class="contact-decor">Тел: <a  href="tel:+74951234567" class="phone-decor">+7 (495) 123-45-67</a></div>
                    <div class="contact-decor mx-4">EMail: <a  href="mailto:uaz@book.ru" class="mail-decor">uaz@book.ru</a></div>
                </div>
                <div class="navbar mx-auto w-auto d-flex justify-content-center ms-1">
                    <div class="col-xs-8">
                        <a class="btn btn-my btn-modal me-3" data-bs-toggle="modal" href="#ModalToggle" role="button">Обратная связь</a>
                    </div>
                    <a class="btn_select" href="#">
                        <div>RU</div>
                        <div class="shadow">
                            <span>EN</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg py-1  border-bottom nav_border">
        <div class="container-fluid d-flex flex-wrap">
            <a class="navbar-brand btn me_house nav-butt change-pics" th:href="@{/}" aria-current="page">
                <div>
                    <div class="change-pic">
                        <img id="nav_house" src="/images/house_black.svg" height="30px" width="30px" alt=""/>
                    </div>
                    <div class="change-pic">
                        <img src="/images/house_white.svg" height="30px" width="30px" alt=""/>
                    </div>
                </div>
            </a>

            <button class="navbar-toggler ms-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item h2-text"><a th:href="@{/projects}" class="nav-link nav-butt px-2">Проекты</a></li>
                    <li class="nav-item h2-text"><a th:href="@{/media}" class="nav-link nav-butt px-2">Медиацентр</a></li>
                    <li class="nav-item h2-text"><a th:href="@{/vacancies}" class="nav-link nav-butt px-2">Вакансии</a></li>
                    <li class="nav-item h2-text"><a th:href="@{/providers}" class="nav-link nav-butt px-2">Поставщикам</a></li>
                    <li class="nav-item h2-text"><a th:href="@{/history}" class="nav-link nav-butt px-2">История</a></li>
                    <li class="nav-item h2-text"><a href="http://localhost:8090/" class="nav-link nav-butt px-2">Инвентарная база</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Модальное окно -->
    <div class="modal" id="ModalToggle" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalToggleLabel">Обратная связь</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="submitForm" th:action="@{/api/message}"  method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="col-form-label">ФИО:</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Иван Павлович"/>
                            <div  id="name_error" class="invalid-feedback add_font_size"> </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Телефон:</label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="8999-999-99-99"/>
                            <div  id="phone_number_error" class="invalid-feedback add_font_size"> </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">EMail:</label>
                            <input type="text" class="form-control" id="mail" name="mail" placeholder="me@yandex.ru"/>
                            <div  id="mail_error" class="invalid-feedback add_font_size"> </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Сообщение:</label>
                            <textarea class="form-control" id="msg" name="msg" placeholder="Сообщение"></textarea>
                            <div  id="msg_error" class="invalid-feedback add_font_size"> </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button class="btn btn-primary" type="submit" name="submit" data-bs-target="#ModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>