<div th:fragment="header">
    <header class="navbar navbar-expand-lg d-flex justify-content-center py-1 top_header_main">
        <div class="container_main_head">
            <a th:href="@{/}" class="d-flex justify-content-start head_main_logo">
                <div><img src="/images/icons_swg/main_logo/Logo.svg" class="head_logo anim_logo" alt=""></div>
                <div class="right_border_logo"></div>
                <div><img src="/images/icons_swg/main_logo/Name.svg" class="head_name" alt=""></div>
            </a>
            <div class="header_contact_segment animate-top">
                <div class="contact_header">
                    <a href="tel:+74999492525" class="phone-decor">
                        <img src="/images/icons_swg/callback/phone_blue.svg"/>+7 (499) 949-25-27
                    </a>
                    <a href="mailto:uaz@domatom.ru" class="mail-decor">
                        <img src="/images/icons_swg/callback/mailblue.svg"/>uaz@domatom.ru
                    </a>
                </div>
                <div class="right_border_hidden"></div>
                <div class="header_btn_group">
                    <a class="btn_select_modal" data-bs-toggle="modal" href="#ModalToggle">
                        <div class="div_height"><img src="/images/icons_swg/callback/mailgrey.svg"/></div>
                        <div class="shadow_eng">
                            <span><img src="/images/icons_swg/callback/mailwhite.svg"/></span>
                        </div>
                    </a>
                    <div class="right_border_select"></div>
                    <a class="btn_select" href="#">
                        <div class="div_height">RUS</div>
                        <div class="shadow_eng">
                            <span>EN</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg top_header_second">
        <div class="top_header_second_flex">
            <a id="home" class=" nav-item me_house" th:href="@{/}" aria-current="page">
                <img id="nav_house" class="nav-link" src="/images/icons_swg/home_page/house_black.svg" height="30px" width="30px" alt=""/>
            </a>
            <div class="right_border" style=" margin-bottom: 10px"></div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Переключатель навигации">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <a id="about" class="nav-item h2-text" th:href="@{/about}">О Компании</a>
                    <div class="right_border"></div>
                    <a id="services" class="nav-item h2-text" th:href="@{/services}">Услуги</a>
                    <div class="right_border"></div>
                    <div id="objects" class="dropdown desktop_item">
                        <a class="nav-item h2-text"  th:href="@{/objects_repair}" type="button" id="dropdownMenuButton1"  aria-expanded="false">
                            Объекты
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" th:href="@{/objects_repair}">Стройка/ремонт</a></li>
                            <li><a class="dropdown-item" th:href="@{/objects_exploitation}">Эксплуатация</a></li>
                        </ul>
                    </div>
                    <div class="mobile_item">
                        <a id="repair" class="nav-item h2-text" th:href="@{/objects_repair}">Стройка/ремонт</a>
                        <a id="exploitation" class="nav-item h2-text" th:href="@{/objects_exploitation}">Эксплуатация</a>
                    </div>
                    <div class="right_border"></div>
                    <a id="licenses" class="nav-item h2-text" th:href="@{/licenses}">Лицензии</a>
                    <div class="right_border"></div>
                    <a id="news" class="nav-item h2-text" th:href="@{/news}">Новости</a>
                    <div class="right_border"></div>
                    <a id="contacts" class="nav-item h2-text" th:href="@{/contacts}">Контакты</a>
                    <div class="right_border"></div>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Модальное окно -->
    <div class="modal" id="ModalToggle" aria-hidden="true" aria-labelledby="ModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalToggleLabel">Обратная связь</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="submitForm" th:action="@{/api/message}"  method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="col-form-label">ФИО:</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Иван Павлович"/>
                            <div  id="name_error" class="invalid-feedback add_font_size"> </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Телефон:</label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="8999-999-99-99"/>
                            <div  id="phone_number_error" class="invalid-feedback add_font_size"> </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">EMail:</label>
                            <input type="text" class="form-control" id="mail" name="mail" placeholder="me@yandex.ru"/>
                            <div  id="mail_error" class="invalid-feedback add_font_size"> </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-form-label">Сообщение:</label>
                            <textarea class="form-control" id="msg" name="msg" placeholder="Сообщение"></textarea>
                            <div  id="msg_error" class="invalid-feedback add_font_size"> </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button class="btn btn-primary" type="submit" name="submit" data-bs-target="#ModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>