<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrew Shcherbakov">
    <title>Китайгородский Проезд</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/fancybox-3.0/dist/jquery.fancybox.min.css" />
    <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
  <div class="preloader"></div>
  <div style="display:none;" id="myDiv" class="animate-bottom">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center border-bottom border-3 mb-5">
      <h3 class="display-4 fw-normal">Объект на Китайгородском проезде</h3>
    </div>

    <div class="container-fluid mx-auto text-center">
      <div class="row gx-1">
        <div class="col-lg-3 col-md-6 col-sm-6 col-15 thumb">
          <a data-fancybox="gallery" href="/images/projects_img/kitay/20230427_112856.jpg">
              <img class="img-fluid" src="/images/projects_img/kitay/20230427_112856_min.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-15 thumb">
            <a data-fancybox="gallery" href="/images/projects_img/kitay/20230427_113057.jpg">
                <img class="img-fluid" src="/images/projects_img/kitay/20230427_113057_min.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-15 thumb">
            <a data-fancybox="gallery" href="/images/projects_img/kitay/20230427_113359.jpg">
                <img class="img-fluid" src="/images/projects_img/kitay/20230427_113359_min.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-15 thumb">
            <a data-fancybox="gallery" href="/images/projects_img/kitay/20230427_113404.jpg">
                <img class="img-fluid" src="/images/projects_img/kitay/20230427_113404_min.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-15 thumb">
            <a data-fancybox="gallery" href="/images/projects_img/kitay/20230427_113433.jpg">
                <img class="img-fluid" src="/images/projects_img/kitay/20230427_113433_min.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-15 thumb">
            <a data-fancybox="gallery" href="/images/projects_img/kitay/20230427_113508.jpg">
                <img class="img-fluid" src="/images/projects_img/kitay/20230427_113508_min.jpg" alt="">
            </a>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/fancybox-3.0/dist/jquery-3.6.4.min.js"></script>
<script src="/fancybox-3.0/dist/jquery.fancybox.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
