<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Andrew Shcherbakov">
    <title>О Компании</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/fancybox-3.0/dist/jquery.fancybox.min.css" />
    <link href="/StyleSheets/style.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_mobile.css" rel="stylesheet"/>
    <link href="/StyleSheets/style_about.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/icons_swg/main_logo/Logo.svg" type="image/x-icon"/>
</head>

<body>

<header th:insert="blocks/header.html"> </header>

<main>
    <div class="preloader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="mx-auto text-center">
            <h1>Охрана труда</h1>
        </div>
        <div class="container_about">

            <div class="about_text">
                <figure class="signright default pic_scale_anim">
                    <a href="/images/about_img/ohrana_truda/ohrana_truda_1.jpg" data-fancybox="images" data-caption="Обучение по охране труда">
                        <img src="/images/about_img/ohrana_truda/ohrana_truda_1_min.jpg" alt="Обучение по охране труда" style=" max-height:450px; border-radius: 3px" class="img-fluid"/>
                    </a>
                    <figcaption>Обучение по охране труда</figcaption>
                </figure>
                <p>АО «УАЗ» на регулярной основе проводятся мероприятия, позволяющие обеспечить безопасность производственных процессов условий труда,
                    защиту здоровья своих работников, а также оптимальные условия труда, при которых воздействие на работников вредных и (или) опасных
                    производственных факторов отсутствует или не превышает уровни, установленные нормативами (гигиеническими нормативами) условий труда.
                </p>

                <p><label class= "selected_rout">Политика АО «УАЗ» в области охраны труда</label> является публичной документированной декларацией о намерении и гарантированном выполнении
                    обязанностей по соблюдению государственных нормативных требований охраны труда и добровольно принятых на себя обязательств.
                </p>
                <p>
                    <label class= "selected_rout">Основные принципы деятельности АО «УАЗ» в области охраны труда:</label>
                </p>
                <ul class="ul_style">
                    <li>приоритет сохранения жизни и здоровья работников АО «УАЗ» в процессе их трудовой деятельности;</li>
                    <li>соответствие условий труда на рабочих местах требованиям охраны труда;</li>
                    <li>постоянное совершенствование деятельности и повышение компетентности работников в области охраны труда;</li>
                    <li>планирование и проведение мероприятий, направленных на снижение производственного травматизма и профессиональных заболеваний;</li>
                    <li>учет индивидуальных особенностей работников АО «УАЗ» путем проектирования рабочих мест, выбора оборудования, инструментов.</li>
                </ul>
                <figure class="signright default pic_scale_anim">
                    <a href="/images/about_img/ohrana_truda/ohrana_truda_2.jpg" data-fancybox="images" data-caption="Тренировка первой помощи">
                        <img src="/images/about_img/ohrana_truda/ohrana_truda_2_min.jpg" alt="Тренировка первой помощи" style=" max-height:450px; border-radius: 3px" class="img-fluid"/>
                    </a>
                    <figcaption>Тренировка первой помощи</figcaption>
                </figure>
                <p>
                    <label class= "selected_rout">Для реализации основных принципов деятельности в области охраны труда АО «УАЗ» обеспечивает:</label>
                </p>
                <ul class="ul_style">
                    <li>безопасные условия труда исходя из комплексной оценки технического и организационного уровня рабочего места, а также исходя из оценки факторов производственной среды и трудового процесса, которые могут привести к нанесению вреда здоровью работников.</li>
                    <li>режим труда и отдыха работников в соответствии с трудовым законодательством и иными нормативными правовыми актами, содержащими нормы трудового права.</li>
                    <li>безопасность работников при эксплуатации зданий, сооружений, оборудования, осуществление технологических процессов, а также эксплуатацию применяемых в производстве инструментов, сырья и материалов.</li>
                    <li>улучшение санитарно-бытового обслуживания работников;</li>
                    <li>совершенствование СУОТ за счет своевременной разработки и актуализации руководящих документов, регламентов в области охраны труда, четкого разграничения прав и обязанностей работников за соблюдение требований по охране труда, личной ответственности руководителей и работников за соблюдение требований охраны труда;</li>
                    <li>реализацию мероприятий по улучшению условий труда, включая ликвидацию или снижение уровней профессиональных рисков или недопущение повышения их уровней, с соблюдением приоритетности реализации таких мероприятий;</li>
                    <li>формирование положительного имиджа АО «УАЗ» как организации, ориентированной на приоритет сохранения жизни и здоровья работников;</li>
                    <li>повышение культуры производства, образовательного и профессионального уровня работников в области охраны труда.</li>
                </ul>

            </div>

        </div>
    </div>
</main>

<div class="btn-up btn-up_hide"> <img src="/images/up-arrow.svg" alt=""/></div>

<footer th:insert="blocks/footer.html"> </footer>

<script src="/js/jquery-3.7.1.js"></script>
<script src="/fancybox-3.0/dist/jquery-3.6.4.min.js"></script>
<script src="/fancybox-3.0/dist/jquery.fancybox.min.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
